[2012-06-11 23:07] danielfernandez opened #1 "Support for SpringSecurities access-url tag"
From: http://sourceforge.net/tracker/?func=detail&aid=3528772&group_id=509826&atid=2072662

Giving thymeleaf a short test ride I missed the possibility of rendering a
tag depending on the user's acces rights on a url - as defined in
SpringSecurities security.xml via the intercept-url tags.

Attached you'll find a simple implementation of this. The usage is
straightforward. Instead of:

[code]

you

[2012-06-20 00:14] danielfernandez opened #2 "Add RequestContext variable to model in SPRING_MACRO_REQUEST_CONTEXT_ATTRIBUTE"
Other Spring MVC -compatible view layer technologies like Velocity or Freemarker use the `AbstractTemplateView.SPRING_MACRO_REQUEST_CONTEXT_ATTRIBUTE` name for storing the RequestContext variable at AbstractTemplateView.

Thymeleaf could use this name besides its own `SpringContextVariableNames.SPRING_REQUEST_CONTEXT` at ThymeleafView so that better compatibility is achieved

[2012-06-20 00:15] #2 closed, assigned to danielfernandez

[2012-06-21 12:20] danielfernandez opened #3 "Add "additionalDialects" method to SpringTemplateEngine"
In order to make it easier to add dialects to a template engine besides the SpringStandard one, these methods would allow a more elegant configuration without the need to also specify the SpringStandard Dialect:

[code]

[2012-06-21 12:56] danielfernandez opened #4 "Add a better error message to FieldUtils when no RequestContext is found"
A probable cause for this is that Tiles is being used but the specific ThymeleafTilesView is not (usual TilesView is used instead).

Message could be something like "A Request Context could not be found. A probable cause for this is you are not using the right View implementation for Thymeleaf. Review your ViewResolver configuration".

[2012-07-13 22:08] #4 closed, assigned to danielfernandez

[2012-07-13 23:44] #3 closed, assigned to danielfernandez

[2012-07-31 12:50] danielfernandez opened #5 "ThymeleafViewResolver .setViewClass should allow AbstractThymeleafView"
method setViewClass() in ThymeleafViewResolver raises an exception if viewClass does not extend ThymelefView, and it should only raise that exception if this view does not extend AbstractThymeleafView, instead.

[2012-07-31 22:12] #5 closed, assigned to danielfernandez

[2012-08-01 04:59] KaRkY opened #6 "ThymeleafViewResolver loadView should use AbstractThymeleafView"
In view resolver loadView there are casts made to ThymeleafView instead of AbstractThymeleafView.

[2012-08-01 06:04] danielfernandez commented on #6
Fixed now in trunk and in 2.0.12-SNAPSHOT. Thanks.

[2012-08-01 06:04] #6 closed, assigned to danielfernandez

[2012-08-01 10:45] pfeigl opened #7 "Add form support for Spring's RequestDataValueProcessor"
This is a copy paste from the following forum discussion.
The link also contains some reference code on how the result can be achieved.
http://forum.thymeleaf.org/Support-for-RequestDataValueProcessor-td4024906.html

Since Spring 3.1 there is a new interface called RequestDataValueProcessor.
You can find the docs here: http://static.springsource.org/spring/docs/3.1.x/javadoc-api/org/springframewor

[2012-08-15 05:44] dai0304 commented on #7
+1 on this issue

[2012-08-18 16:49] danielfernandez opened #8 "Remove spring package from javadoc"
As of 2.0.12, the `org.springframework.web.servlet.tags.form` package appears at the javadoc for thymeleaf-spring3.

Given the fact that this package contains only wrappers for accessing package-visible classes in Spring, they should not appear at the module's javadoc.

[2012-08-21 07:24] making commented on #7
+1

[2012-08-31 11:06] vtkac commented on #7
Hi,
supporting RequestDataValueProcessor would be realy great news. We are using HDIV framework (http://hdiv.org)  in our projects to add some advanced security features and it really seamlessly integrates with spring mvc + jsp + spring forms lib. I believe this easy integration is the purpose of RequestDataValueProcessor (as you can see here https://jira.springsource.org/browse/SPR-7943).  I spen

[2012-10-11 21:01] danielfernandez commented on #1
This is now covered by the thymeleaf-extras-springsecurity3 module ( https://github.com/thymeleaf/thymeleaf-extras-springsecurity3 )

[2012-10-11 21:01] #1 closed, assigned to danielfernandez

[2012-10-11 21:11] danielfernandez commented on #8
Fixed in 2.0.14-SNAPSHOT

[2012-10-11 21:11] #8 closed, assigned to danielfernandez

[2012-10-22 10:30] thelamon commented on #7
+1, want it to be done.

[2012-11-04 18:13] kreuzman opened #9 "Setting message source in SpringTemplateEngine."
Hi

Set custom message source in SpringTemplateEngine (via setMessageSource method) not working in web application because spring container reset message source with default one (that one with bean name "messageSource" in context). Then template engine working with different message source then one configured before.

[2012-12-13 10:40] tdeverdiere opened #10 "Spring : Accessing BindingStatus Errors outside of a form tag"
This enhancement comes from the discussion :
http://forum.thymeleaf.org/Spring-MVC-Displaying-Validation-Errors-outside-form-td4025301.html

I would like to have the same behaviour than the Spring tag :
spring:hasBindErrors

In order to change the title of my page depending on the fact there are errors or not in the form fields.

[2012-12-19 01:37] danielfernandez commented on #9
Fixed in 2.0.15 by adding a `setTemplateEngineMessageSource(MessageSource)` that serves as an override of the Spring default behaviour (determined by the `MessageSourceAware` interface).

Thanks.

[2012-12-19 01:37] #9 closed, assigned to danielfernandez

[2013-01-24 20:26] zimmi opened #12 "Spring 3.1: Automatically expose @PathVariables in the Model"
Version: thymeleaf-spring3-2.0.15

Since Spring 3.1, @PathVariables in annotated Controller methods are automatically added to the Model and available in the View. (https://jira.springsource.org/browse/SPR-7543)

Thymeleaf does not yet support this feature but it would be awesome if it did. :) Documenting this somewhere would be fine in the meantime, I guess.

Implementation-Related JIRA:
https://

[2013-02-14 15:38] #12 closed, assigned to danielfernandez

[2013-02-15 08:32] zimmi commented on #12
Brilliant, thank you so much! :)

[2013-02-15 10:30] danielfernandez commented on #7
This will be a part of 2.1, as it requires to compile thymeleaf-spring3 against Spring 3.1 instead of 3.0. The solution will consist of the implementation of a _semi-mirror_ interface called `IDataValueProcessor` in thymeleaf, which once the framework is initialized will decide whether to use an "enabled" implementation (which will use Spring's `RequestDataValueProcessor` mechanism underneath) or

[2013-02-18 09:35] danielfernandez opened #13 "More flexible view name specification at viewresolver"
Currently the view name returned by the controller is directly translated into a file name by simply adding a prefix and a suffix.

We could add some flexibility to this if we could specify a _"view name translator"_ to the view resolver so that we could, for example, specify things like `viewname[domselector]` in order to render only a fragment of a page.

[2013-02-26 22:18] sorayasl opened #14 "Error in th:errors if error message contains < or >"
Value of th:errors is not being correctly escaped and, if derror message contains < or >, it fails throwing an exception:

org.thymeleaf.exceptions.TemplateInputException: Exception parsing document: template="null", line 2 - column 48 (owners/createOrUpdateOwnerForm:54)
    org.thymeleaf.templateparser.xmlsax.AbstractNonValidatingSAXTemplateParser.parseTemplateUsingPool(AbstractNonValidatingSAXTe

[2013-03-07 21:21] Antibrumm opened #15 "Allow rendering of fragments directly (Spring3 requestmapping)"
Hi
I am building currently a webapp with Spring 3 and Thymeleaf and I found it a bit annoying that we cannot return a fragment directly from the Controller. I have created an extended version of the ThymeleafViewResolver to allow this behavior and probably you there is some interest in this in the standard implementation?

I am not sure however if the method loadView is the appropriate point to!

[2013-03-13 17:04] danielfernandez commented on #15
Hmmm... this is a very nice idea! would you be willing to prepare a pull request for this?

The only thing I'm not sure about is that `fragment:full` syntax, as it is not used in any other parts of thymeleaf (include's, substituteby's or Tiles definitions...). At first impression, I think I prefer to leave this out. But the `view :: fragment` is a great idea, and should support both fragments defi

[2013-03-16 07:11] Antibrumm commented on #15
Yes the full syntax is not ultra sexy. I just saw that childOnly flag and thought i allow using it somehow. We use it for rendering an ajax fragment for a table. It would be easy to simply left it out for the beginning and wrap the ajax template in another div.
I will have to test how to use the DOM selectors.

What about the location of the extension? loadView() seemed the easiest place at the ti

[2013-03-18 05:50] ultraq opened #17 "Documentation for #themes.code(...)"
We might want to document the new `#themes.code(...)` expression object somewhere in the Thymeleaf-Spring3 PDF so that Thymeleaf + Spring developers can know about it.

[2013-04-18 18:12] ugate opened #18 "SpringTemplateEngine Possible Memory Leak"
Running Spring + Thymeleaf in Tomcat I get the following error when shutting down:

[code]

Configuration basically mirrors https://github.com/thymeleaf/thymeleafexamples-petclinic.git except I'm using org.springframework.context.access.ContextSingletonBeanFactoryLocator

[2013-04-30 10:05] Antibrumm opened #19 "Should Thymeleaf use the ConversionService of Spring for any attribute processors?"
I am wondering if the Thymeleaf Spring extension should change the behaviour of for example th:text or th:value to rely on the ConversionService instead of simply calling a toString on the Object.

I believe that this would solve some inconsistencybetween rendering as an input field where the binding is taking care of this itself and rendering as a th:text or th:value attribute where the formattin

[2013-04-30 10:42] danielfernandez commented on #19
The `th:field` attribute should be taking care of form binding and attribute conversion using the Spring mechanisms. Its aim is precisely this... isn't this working for you?

[2013-04-30 15:00] Antibrumm commented on #19
Nono. The th:field is working perfectly. It is using the conversion service as you mention it.

The improvement i think would be worth taking a look at involves the attribute processors of the main thymeleaf project. Like text and value processors. They are not relying on the ConversionService but on the thymeleaf interal resolution which does somewhere a toString. This is logically because these

[2013-05-04 14:30] opensource21 opened #20 "th:field should interpret the string first"
If you have a code like this it's inconsistent. The fId it set with th:with and I want to use it.

[code]

You can wrote `<li th:each="item : *{${fId}}" >` but you must wrote `th:field="*{__${fId}__}"` The nicer code `th:field="*{${fId}}"` doesn't work.

[2013-05-26 14:59] danielfernandez opened #22 "Create ITemplateResolver impementation based on Spring ResourceResolvers"
In order to take profit of Spring's resource resolution infrastructure, thymeleaf could offer an implementation of the `ITemplateResolver` interface that makes use of this Spring mechanism.

[2013-05-26 23:15] danielfernandez commented on #17
Emanuel, could you add this yourself? Maybe just a new bullet in Chapter 2, below the explanation for `${beans.*}` could be enough...

[2013-05-26 23:17] danielfernandez commented on #18
This is the same as https://github.com/thymeleaf/thymeleaf/issues/90. Will be solved in 2.1.

[2013-05-26 23:29] danielfernandez commented on #20
That `th:field="*{${fId}}"` is not correct expression syntax in Thymeleaf. The asterisk syntax (`*{...}`) does not mean _field selection_ but just _execute this expression on the object previously selected with `th:object` instead of on the context root_. That's why it is used for field selection in `th:field` attributes.

The content of an `*{...}` is passed to the OGNL/SpringEL expression engine

[2013-05-26 23:29] #20 closed, assigned to danielfernandez

[2013-05-27 04:13] ultraq commented on #17
Done: 2f49ac1ef97d6a02fc56a836fe2e579e9f3987f8
I think I raised this issue back when I didn't know how we wrote and published our documentation.

[2013-05-27 04:13] #17 closed, assigned to ultraq

[2013-05-27 14:21] gillarramendi commented on #7
+1, to integrate Thymeleaf with HDIV

[2013-05-27 18:52] opensource21 commented on #20
Sorry I can't follow your arguments. My main-point is the inconsistency: For `<li th:each="item : *{${fId}}" >` it works for `th:field` not.  Can you explain the difference?

[2013-05-28 21:31] danielfernandez opened #23 "th:field not being applied on <input> tags with no "type" attribute"
Currently, the `th:field` attribute works OK in cases like:

[code]

But the following should be equivalent, and instead throws an error because of the `th:field` attribute not being removed from the result:

[code]

[2013-05-28 21:33] #23 closed, assigned to danielfernandez

[2013-05-30 12:46] asap03 opened #24 "SpelExpressionParser configuration"
Create a possibility to easily configure the org.springframework.expression.spel.standard.SpelExpressionParser  used by SpelVariableExpressionEvaluator with a configurable SpelParserConfiguration (autoGrowNullReferences and autoGrowCollections properties) in the spring context configuration file. Currently only a parser with the standard configuration is used (autoGrowNullReferences on false and a

[2013-06-08 23:25] #14 closed, assigned to danielfernandez

[2013-06-16 10:43] danielfernandez opened #26 "Initialization of Themes object raises an NPE in offline execution"
When using the Spring-enabled template engine (`SpringTemplateEngine` class) in an offline environment, a NullPointerException is raised by the `Themes` object constructor.

See http://forum.thymeleaf.org/Help-needed-with-TemplateProcessingException-Exception-evaluating-SpringEL-expression-td4026209.html

This happens because, in offline execution, no Spring `RequestContext` object is available.

[2013-06-16 10:44] danielfernandez commented on #26
Fixed in 2.0.18-SNAPSHOT.

See associated test: https://github.com/thymeleaf/thymeleaf-tests/blob/20130616/src/test/java/org/thymeleaf/tests/offline/OfflineTest.java

[2013-06-22 22:19] mike2002 commented on #19
I want to second this feature request. I ran into this issue while converting some jsps to thymeleaf.

[2013-06-26 23:18] #18 closed, assigned to danielfernandez

[2013-07-14 18:31] eleumik opened #27 "context.Beans could support size() and isEmpty()"
The Beans class could support easily size() and isEmpty() since it already returns the key set.  Current implementation throws UnsupportedOperationException.

My use case was this: on an error I have a component that dumps the request attributes, if values are a Map it shows (also) all the keys. Somehow the component was calling isEmpty() on Beans before reading the keys and failing.

[2013-08-06 07:17] opensource21 opened #28 "#lists should have a sort-method"
I think it's often very useful sort a list. At the moment I must do it in the controller. Would be nice to have the possibility to call `Collection.sort` via `#lists.sort`

[2013-08-28 10:40] danielfernandez commented on #26
Reopening this. Due to a very weird issue during the packaging of 2.0.18 distribution jars, this is solved both in 2.0.18-SNAPSHOT and 2.0.19-SNAPSHOT, but not in 2.0.18 release. Tests went OK because they execute on the snapshot versions (both last 2.0.18-SNAPSHOT and first 2.0.19-SNAPSHOT contain the fix).

Will have to release 2.0.19 really soon in order to solve this (and the javascript inlini

[2013-08-28 11:23] danielfernandez commented on #26
Nah, false alarm. 2.0.18 works just fine and this fix is correctly included. Closing again. Sorry!

[2013-08-28 11:23] #26 closed, assigned to ultraq

[2013-08-30 07:08] opensource21 commented on #28
Duplicate to https://github.com/thymeleaf/thymeleaf/issues/208. Could be closed because it's not spring secific.

[2013-08-30 07:08] #28 closed, assigned to danielfernandez

[2013-09-05 20:04] danielfernandez commented on #7
Moved to thymeleaf 3.0, due to the requirement of compiling against Spring 3.1.

[2013-09-06 08:06] shuji commented on #7
+1

[2013-09-08 03:38] bailejl opened #29 "Bootstrap Checkbox Disappearing"
I am trying to use Bootstrap with Thymeleaf in Spring and I am having a bit of a problem.  I prototyped the page up and got it working, then moved it over to Spring to finish the details.  It all works, except the checkbox disappears and does not show up in the HTML in the browser.  I am using the basic guidelines for a checkbox in Bootstrap, which are here:
http://getbootstrap.com/css/#forms-exam

[2013-09-08 09:37] danielfernandez commented on #29
Could you show a snippet of your code? This could happen if you were, for example, including your `<input>` element inside your `<label>` and then applying a processor like `th:text` to your `<label>`:

[code]

Because that `th:text` would substitute all the content inside the `<label>`, which is precisely its function. In such case you would need something like and additional span:

[code]

But a

[2013-09-08 16:07] bailejl commented on #29
I think I was brain dead when I typed this up.  I should have slept on it before I typed up this problem.  It is obvious that is what it is doing.  Here is the code I was referencing on Bootstrap's site:

[code]

Here is what I was using:

[code]

I moved the input before the label and that works.  I will try your suggestion and see how that works.

Thanks,
Joe

[2013-09-08 16:27] danielfernandez commented on #29
Ok. I didn't notice that the input was inside the label in the case of the checkbox. I suggest you to use the additional span element therefore.

[2013-09-08 16:27] #29 closed, assigned to danielfernandez

[2013-09-08 20:07] danielfernandez commented on #10
This has been implemented as follows:

**Inside a form**

Inside a form, error messages can be output in the usual way (plus the options added by #21):

[code]

**Outside a form**

But now, these errors can be accessed from outside with `${...}` expressions, by using the bound form object's name like this:
- Using the form bean's name only: `${myForm}`, returns the error messages _globally_ associ

[2013-09-08 20:10] #10 closed, assigned to danielfernandez

[2013-09-08 20:16] danielfernandez commented on #10
Updated 2.1.0-SNAPSHOT

[2013-09-10 13:46] rainerfriesen opened #30 "Autowired not working for own View classes (extending ThymeleafView)"
Like discussed in the [Thymeleaf User Forum](http://forum.thymeleaf.org/Autowired-not-working-for-own-View-classes-td4026691.html) there seems to be an issue with the usage of custom View classes (extending ThymeleafView) and autowired properties.

The problem occurs if the view bean is not known to the application context, what should normally not be the case, and an autowired property is used. I

[2013-09-10 20:38] danielfernandez commented on #22
The `org.thymeleaf.spring3.templateresolver.SpringResourceTemplateResource` has been implemented with this aim. It uses the `ApplicationContext` for resolving resources, by means of its `ApplicationContext#getResource(String name)`method.

[2013-09-10 20:38] #22 closed, assigned to danielfernandez

[2013-09-10 20:38] #30 closed, assigned to danielfernandez

[2013-09-10 20:38] danielfernandez commented on #22
Updated 2.1.0-SNAPSHOT

[2013-09-10 20:41] danielfernandez commented on #30
Updated 2.0.19-SNAPSHOT and 2.1.0-SNAPSHOT

[2013-09-13 00:25] #13 closed, assigned to danielfernandez

[2013-09-13 00:25] #15 closed, assigned to danielfernandez

[2013-09-13 08:36] danielfernandez opened #32 "Move webflow-related view classes to its own view.webflow package"
The current location of the webflow-related view classes (`AjaxThymeleafView/Resolver` etc) is confusing, because it might lead the user to think these classes are for general AJAX support, even though they are specific for WebFlow.

[2013-09-15 20:32] #27 closed, assigned to danielfernandez

[2013-09-18 13:44] stomac commented on #7
+1

[2013-09-19 09:06] cachescrubber commented on #19
+1

I also want to second this request. I ran into the issue when creating links using "@{}".

Here is my use case:

Controller: expects a Parameter, "sort" formatted like this: "property,ASC|DESC".

[code]

The template like it should be, IMO:

[code]

Thymeleaf calls toString() on the page.sort object, which gives "id: ASC". This breaks the Controller, which expects "id,ASC".

I implemented a cu

[2013-09-20 09:37] cachescrubber commented on #19
I banged my head on this the whole day yesterday and I think I came up with a good solution, at least as a workaround.

The basic idea is to put a formatting helper object into each and every Model using @ControllerAdvice and @ModelAttribute:

[code]

The TemplateFormattingHelper provides (web template tailored) access to the underlying Spring ConversionService. The interface is simple, because we

[2013-09-22 19:40] danielfernandez opened #33 "Allow @bean syntax for bean reference in Spring EL expressions"
According to section 6.5.12 (Bean references) of the Spring EL reference at http://docs.spring.io/spring/docs/3.0.x/reference/expressions.html, beans in the application context should be accessible in Spring EL expressions like:

[code]

...but this syntax isn't allowed in Thymeleaf because the implementation of `EvaluationContext` being used was never being set a `beanFactory`, which is the way t

[2013-09-22 20:10] #33 closed, assigned to danielfernandez

[2013-09-22 21:32] danielfernandez commented on #33
Updated 2.1.0-SNAPSHOT

[2013-10-07 22:26] danielfernandez commented on #19
This has just been implemented at 2.1.0-SNAPSHOT, and will be a part of 2.1.0-beta2.

This implementation is based on a new generic (non-Spring-specific) interface called `org.thymeleaf.standard.expression.IStandardConversionService`, in charge of performing the needed conversions.

Implementations of this interface are registered by the Standard Dialects, and the Spring version delegates to the S

[2013-10-07 22:26] #19 closed, assigned to danielfernandez

[2013-10-08 08:49] danielfernandez commented on #19
@opensource21 yes. `th:text` and all other attribute processors that produce output. See the linked test file in my previous comment: https://github.com/thymeleaf/thymeleaf-tests/blob/20131007/src/test-21/resources/engine21/conversion/conversion3/conversion3-01.thtest

[2013-10-10 20:08] danielfernandez commented on #19
Important: this feature will be modified by thymeleaf/thymeleaf#222

[2013-10-12 12:55] marceloverdijk commented on #7
+1

[2013-10-16 23:06] danielfernandez commented on #19
Important: after discussion in thymeleaf/thymeleaf#222, the definitive implementation is explained in thymeleaf/thymeleaf#223

[2013-10-22 13:27] danielfernandez opened #34 "New th:errorclass attribute for applying a class to form fields in error"
Currently, whenever we want to apply a specific CSS class to an input field in a form when there are errors for that field, we need to use the `th:class` or `th:classappend` attribute like this:

[code]

In order to simplify this structure, a new `th:errorclass` attribute processor should be introduced. This processor will read the name of the field from the `name` or `th:field` attribute in the s

[2013-10-22 20:15] #34 closed, assigned to danielfernandez

[2013-10-23 00:45] danielfernandez commented on #34
Updated 2.1.0-SNAPSHOT

[2013-10-25 13:04] Rouche opened #35 "Big Performance Drop on a mix of th:with + ${beans.xxxx}"
Situation:
I had lots of pages using the same template. After refactoring all those pages to avoid repeating the base template everywhere (in 2.1.0 this will be even nicer) i decided to remove all the repeated ModelAttributes and put it in the base template using th:with.

So zero code change in html.

basically:

[code]

Time to load a page with @ModelAttribute("domainValues") : around 0.150 sec,

[2013-10-26 17:52] opensource21 opened #36 "Field information should be exposed together with the error-message"
It would be good not to get only the message of an error. There should be additional the information which field has this error.
See http://forum.thymeleaf.org/How-to-get-all-errors-of-a-form-including-the-information-which-field-has-the-error-td4026950.html#a4026952

[2013-10-31 21:17] rwinch commented on #7
@danielfernandez

It would be nice if we could resolve this by having an optional dependency on Spring 3.1+ since Spring Security 3.2 will utilize this mechanism for its CSRF support as well. Without this support it means any Thymeleaf Spring Security user will be required to manually add the CSRF token. For this reason, I am quite willing to send a PR for this feature.

A few possibilities to get

[2013-11-01 23:49] ultraq commented on #7
I'd probably suggest the pull request route for now as I know Daniel's a bit swamped with the 2.1 release of all the Thymeleaf modules for this weekend.

[2013-11-02 02:23] rwinch commented on #7
@ultraq Thanks for the response. However, before taking the time to put a PR together I want to ensure that @danielfernandez (or some other authoritative person) will consider merging a PR into 2.1 (or at least prior to 3.0) since he stated

I can have something ready quite promptly as soon as I get a response, but I don't want to spend the time on it now if it won't even be considered till 3.0.

[2013-11-02 17:28] danielfernandez commented on #7
@rwinch Thanks a lot for your offer, Rob, I really appreciate it.

However, after giving it some more thought, I found there might be a way to apply this in a quite transparent manner already for 2.1. So let me first have a go at it and see if I can come up with a solution fast. As Emanuel said, I'm quite busy with the latest 2.1 changes, so "fast" is important today :-)

I'll keep you posted.

[2013-11-02 18:18] rwinch commented on #7
@danielfernandez Thanks for the response. If there is anything I can do to help this go smoothly please let me know. One thing that you will probably find relevant is that in Spring 4, Spring MVC changed the interface in a non-passive manner. See [this commit](https://github.com/spring-projects/spring-framework/commit/4b22558a06d7033e7ef3ed4f3122a4913b045c5c#diff-e020d98de7d42e37e01a2fc974a1de8e)

[2013-11-02 18:18] rwinch commented on #7
PS: Please let me know if I can be of any help.

[2013-11-03 11:43] #7 closed, assigned to danielfernandez

[2013-11-03 12:11] danielfernandez commented on #7
This has been implemented for Thymeleaf 2.1.

The `IDataValueProcessor` idea above was finally discarded. The real implementation direcly relies on the Spring-enabled attribute processors for URLs and forms:
- `th:href` and `th:src` simply call `RequestDataValueProcessor.processUrl(...)` before rendering the URL. Note this is not applied at the `LinkExpression` level, i.e., not for every `@{...}`

[2013-11-03 12:11] danielfernandez commented on #7
Updated 2.1.0-SNAPSHOT

[2013-11-05 09:42] olafos opened #37 "@DateTimeFormat formatting using Spring ConversionService does not work inside Thymeleafs iteration"
I'm struggling with the following issue:
Formatting fields annotated with @DateTimeFormat using Thymeleafs new ${{}} syntax doesn't work when the object containing formatted field is referenced inside th:each iteration.

However when i reference the iterated value directly using SpEL it's formatted correctly.

[code]

In the above example the element is

[code]

What might be the problem?

[2013-11-05 10:00] danielfernandez commented on #37
That is actually the expected behaviour.

In order to being able to format a value using a @DateTimeFormat annotation, the object it references to must have been bound by Spring, and Spring must be able to recognize the expression being passed as referencing that bound object.

As an example, the _expression_ I'm referring to would be `obj.date` here:

[code]

And also `obj.date` here (more common

[2013-11-05 10:05] #37 closed, assigned to danielfernandez

[2013-11-05 10:13] olafos commented on #37
Thanks Daniel,

I understand now, it's a bit misleading nonetheless. So in my example, is
referencing "page" and using preprocessing to access the record the only
way to get the right formatting?

Cheers,

2013/11/5 Daniel Fernández notifications@github.com

[2013-11-05 20:25] danielfernandez opened #38 "Incorrect Spring binding of single-level expressions"
(from http://forum.thymeleaf.org/Spring-Conversions-within-URL-td4027012.html)

When a `OneClass`->`String` converter is registered and an object of class `OneClass` is added to context with name `oneObj` and used in a double-brace expression like:

[code]

This conversion does not work (it returns the empty String).

This error does not happen with _common classes_ like `Long`, `Integer`, `Date`,

[2013-11-05 20:26] #38 closed, assigned to danielfernandez

[2013-11-05 20:37] danielfernandez commented on #38
The problem was that, when Thymeleaf encounters a conversion expression like `${{oneObj}}`, it first tries to detect whether it refers to a _Spring bound object_. And if so, it delegates to the Spring `BindStatus` the computation of the converted expression.

Given Spring MVC creates a `BindingResult` for every _non-common-class_ object in the context, this `oneObj` of class `OneClass` was actuall

[2013-11-05 20:37] danielfernandez commented on #38
Updated 2.1.1-SNAPSHOT

[2013-11-07 19:40] lukaslisowski opened #39 "NPE after upgrade from 2.0.19 to 2.1.0"
Hey,

after upgrading from Thymeleaf 2.0.19 to 2.1.0 following NPE occurs on  Plesk 11.5.30 Update21 [CentOS 6.4 (Final) / openjdk-1.6.0.0 / tomcat-6.0.24]. On Windows [Win7 (64-Bit) / jdk_1.7.0_45 / tomcat-7.0.42] everything is fine.

<code>java.lang.NullPointerException
    org.thymeleaf.spring3.processor.attr.SpringInputGeneralFieldAttrProcessor.doProcess(SpringInputGeneralFieldAttrProcessor.ja

[2013-11-07 20:18] danielfernandez commented on #39
This is fixed by thymeleaf/thymeleaf-spring3@9c264fac212e6d80ba68941ee0b43eb63beb66f6 and will be solved in 2.1.1, to be released at the end of the week. It is already fixed in 2.1.1-SNAPSHOT, if you want to try (See http://www.thymeleaf.org/faq.html#use-snapshot).

This happens due to a change in the way BindStatus objects are obtained in 2.1, and might arise if the variable you are binding to is

[2013-11-07 20:18] #39 closed, assigned to danielfernandez

[2013-11-07 20:20] danielfernandez commented on #39
By the way, it should have no relation to your operating system or Java version... it just depends on your code and the thymeleaf version you are using.

[2013-11-12 08:00] Chropez opened #40 "WebbappClassLoader error - when reloading an application"
I get the error below when I reload an application doing touch on the web.xml or through the tomcat manager.

I've reproduced this error in the Booking MVC - project. The error occurs even with the latest versions of Spring/Thymeleaf.
- Deploy Booking MVC.
- Move all the jars in wtpwebapps/booking-mvc/WEB-INF/lib to Tomcat-dir/lib (Our project needs to be this way)
- Write a static function anywhe

[2013-11-19 12:43] danielfernandez opened #41 "Disabled Checkbox and Select multiple override model"
Moved from thymeleaf/thymeleaf#241. Follows original text:

---

I have a checkbox disabled because a part of the form cannot be changed.

The value is Checked.

The checkbox seems to still generate the hidden field.
When i submit, the Spring model is overriden with a False (checkbox) and Null (multiselect)

They should not be generated at all. (hidden on disabled fields)

[2013-11-19 13:05] danielfernandez commented on #40
This doesn't seem like a thymeleaf issue. The error is being found by Spring's SpringEL expression engine, most probably when it tries to find the `SomeClass` class you are including in that `T(....)` expression.

This looks more like a classloader hierarchy problem with your Tomcat setup. Class loaders in Tomcat are hierarchical, and their delegation scheme works inversely to the default. Whereas

[2013-11-19 13:05] #40 closed, assigned to danielfernandez

[2013-11-19 22:53] danielfernandez opened #42 "Avoid applying RequestDataValueProcessor in Spring 4 RC"
Given the fact that the `RequestDataValueProcessor` interface in Spring has been modified in Spring 4.0 RC, thymeleaf-spring3 should avoid applying the support for this interface when Spring version is 4.0, in order to avoid runtime errors.

This will disable CSRF protection support for Spring 4.0 RC, but at least it will allow Spring 4 betatesters to use `thymeleaf-spring3` until Spring 4.0.0.REL

[2013-11-22 15:22] ghost opened #43 "SeedStarter Manager ${{sb.datePlanted}} not format correct"
I am remove thethymeleafexamples.stsm.web.conversion.DateFormatter from  conversionService  bean config in spring-servlete.xml and use Spring DateTimeFormatAnnotationFormatterFactory instead to do the format work.
@DateTimeFormat(pattern="yyyy-MM-dd")
 private Date datePlanted = null;
but
th:field="*{datePlanted}"   this format ok.
${{sb.datePlanted}}          this not format, why?

[2013-11-24 22:45] danielfernandez commented on #43
It's a bit complex :-). I suppose you made that change in this line: https://github.com/thymeleaf/thymeleafexamples-stsm/blob/thymeleafexamples-stsm-20131104/src/main/webapp/WEB-INF/templates/seedstartermng.html#L34

The fact is, conversions in Spring apps can be divided into two categories:
- Those that merely depend on the type of the data to be displayed: Formatters and Converters.
- Those that

[2013-11-24 22:45] #43 closed, assigned to danielfernandez

[2013-11-27 00:19] #42 closed, assigned to danielfernandez

[2013-11-27 00:20] danielfernandez commented on #42
Updated 2.1.2-SNAPSHOT

[2013-11-27 21:56] #41 closed, assigned to danielfernandez

[2013-11-27 21:57] danielfernandez commented on #41
Updated 2.1.2-SNAPSHOT

[2013-11-28 00:30] danielfernandez commented on #41
Updated 2.0.20-SNAPSHOT

[2013-12-03 13:03] odrotbohm commented on #42
Is there a way to work around this problem until 2.1.2 is released? I just ran into this trying to render a Spring Security login page through a Thymeleaf template. All other pages render fine. Is there an estimated release date for 2.1.2?

[2013-12-03 13:12] danielfernandez commented on #42
You can use 2.1.2-SNAPSHOT following the instructions here: http://www.thymeleaf.org/faq.html#use-snapshot

Anyway, 2.1.2 should be released no later than next Monday Dec 9.

[2013-12-03 13:19] odrotbohm commented on #42
Unfortunately I can't use the snapshots, as the update will have to make it into a release tomorrow. Any other idea of why this is working for all of the renderings except the Spring Security one? Next week for 2.1.2 sounds like a bearable time frame :).

[2013-12-03 13:33] danielfernandez commented on #42
This should be failing whenever thymeleaf encounters a `th:field`, `th:method`... basically, any of the uses of `RequestDataValueProcessor` described here: https://github.com/thymeleaf/thymeleaf-spring3/issues/7#issuecomment-27643488

This only happens when Spring 4.0RC is being used. If you are not directly using Spring 4... maybe the version of Spring Security you are using includes the Spring 4

[2013-12-03 13:40] odrotbohm commented on #42
That's been very useful. I simply went with a plain `action="…"` now and that works fine for me. So no need to hurry with the 2.1.2. Thanks for the quick turnaround!

[2013-12-04 01:15] #36 closed, assigned to danielfernandez

[2013-12-04 01:22] danielfernandez commented on #36
This has been implemented as:

[code]

The `#fields.detailedErrors()` method returns a `List<DetailedError>`, being `DetailedError` this class: https://github.com/thymeleaf/thymeleaf-spring3/blob/69a0fd2b33238ecac9b0a49c1b52b6121d39f9af/src/main/java/org/thymeleaf/spring3/util/DetailedError.java

Messages are already applied their respective parameters and localization artifacts.

[2013-12-04 01:22] danielfernandez commented on #36
Updated 2.1.2-SNAPSHOT

[2013-12-09 17:27] danielfernandez commented on #42
FYI, Thymeleaf 2.1.2 was released today :)

[2013-12-09 17:29] odrotbohm commented on #42
Awesome, Daniel… thanks for the ping! :)

[2013-12-09 17:36] gaaschk commented on #42
Excellent!

Kevin Gaasch
Java Developer
LinkedIn Profile
Online Calendar: Tungle.Me
Cell: 806.674.1523

On Dec 9, 2013, at 11:29 AM, Oliver Gierke notifications@github.com wrote:

[2013-12-16 05:33] andidev opened #44 "Annotation formatters not used in th:each loops"
Thymeleaf seems to ignore Annotation Formatters such as @DateTimeFormat in th:each loops.

E.g.

Html/Thymeleaf

[code]

Controller

[code]

[2013-12-18 12:02] thanasio opened #45 "Migration to thymeleaf 2.1.2 fails for projects using thymeleaf-extras-springsecurityx"
I tried to migrate our project to release 2.1.2 artifactId: thymeleaf-spring4. However, as our project uses thymeleaf-extras-springsecurity3 release 2.1.1 and there is no thymeleaf-extras-springsecurity4 release 2.1.2, the project crashes during deplyment as a result of thymeleaf-extras-springsecurity3 dependenies to thymeleaf-spring3 of release 2.1.1 .

Just wanted to raise awareness on the issue

[2013-12-18 13:30] nithril opened #46 "Add MapAccessor to ThymeleafEvaluationContext"
Hello,

Is it possible to add `org.springframework.context.expression.MapAccessor` accessor to `ThymeleafEvaluationContext` ? Or is there any reason to not have add it ?

Thanks,

[2013-12-20 19:41] andidev commented on #37
I encountered the same problem. Filed an Issue #44 five days ago and now I found this issue.
I agree that it's a bit misleading. I'm also wondering is there a nicer way to do this without using preprocessing?

This is a quite common case in any application using tables with rows containing creation and modification dates.
Having to use `data-th-text="${{page.content[__${iteration.index}__].element

[2013-12-20 23:03] amr opened #47 "Default to UTF-8"
I suggest that the documentation for spring integration defaults to setting the resolver's `characterEncoding` property to UTF-8 as this is almost always what the developer wants.

Perhaps the more correct thing to do is to make this the view resolver's default.

[2013-12-23 00:19] danielfernandez commented on #45
thymeleaf-extras-springsecurity3 version 2.1.1.RELEASE includes Spring 4 support: http://forum.thymeleaf.org/Updated-thymeleaf-extras-springsecurity3-with-Spring-4-support-td4027322.html

Note there is no thymeleaf-extras-springsecurity4 because Spring Security 4 does not exist. The most current version of Spring Security (published just a week ago) is Spring Security 3.2.0. This library is a diff

[2013-12-23 00:19] #45 closed, assigned to danielfernandez

[2013-12-27 23:48] danielfernandez opened #48 "PORT: Autowired not working for own View classes (extending ThymeleafView)"
Port of #30 for Thymeleaf 2.0

[2013-12-27 23:48] #48 closed, assigned to danielfernandez

[2013-12-28 00:03] danielfernandez opened #49 "Create BindingResult objects for iterated objects"
In order to try to support scenarios like the ones described at #37 and #44, we could study the possibility of automatically generating corresponding `BindingResult` objects for the iterated objects in `th:each` processors.

The code for adding these `BindingResult` objects should probably be very similar to what is currently being done at the Thymeleaf Testing framework here https://github.com/th

[2013-12-28 00:04] danielfernandez commented on #44
Closing this as a question. Current valid answer is explained at #37.

Note also that ticket #49 has been created in order to study future support for this scenario.

[2013-12-28 00:04] #44 closed, assigned to danielfernandez

[2013-12-28 00:04] danielfernandez commented on #37
Note ticket #49 has been created in order to study future support for this scenario.

[2013-12-28 00:10] danielfernandez opened #50 "PORT: Disabled Checkbox and Select multiple override model"
Port of #41 for Thymeleaf 2.0

[2013-12-28 00:10] #50 closed, assigned to danielfernandez

[2013-12-28 00:14] danielfernandez commented on #43
Related to this, #49 will try to support the `th:each` scenario by creating `BindingResult` objects for the iterated objects.

[2013-12-28 00:53] danielfernandez commented on #47
I agree there is a big amount of developers that want or need to use UTF-8. But Thymeleaf uses ISO-8859-1 in order to provide an easier integration for Spring users, as this encoding is the one used by default in Spring MVC for JSP views: https://github.com/spring-projects/spring-framework/blob/v4.0.0.RELEASE/spring-webmvc/src/main/java/org/springframework/web/servlet/view/AbstractView.java#L59

S

[2013-12-28 00:53] #47 closed, assigned to danielfernandez

[2014-01-03 23:49] danielfernandez opened #51 "Bad relative URLs in XHTML 1.0 frameset DTD"
Equivalent (but for a different set of DTDs) to thymeleaf/thymeleaf#253

The thymeleaf-enabled versions of the `XHTML 1.0 Frameset` DTD list as relative URLs for linked entities:

[code]

Which is wrong, because those links should be absolute, given these are the thymeleaf-enabled versions of the DTD and therefore live at the thymeleaf server (not the w3c one). They should be:

[code]

[2014-01-03 23:50] danielfernandez opened #52 "PORT: Bad relative URLs in XHTML 1.0 frameset DTD"
Port of #51 for Thymeleaf 2.0

[2014-01-04 01:06] #51 closed, assigned to danielfernandez

[2014-01-04 01:07] #52 closed, assigned to danielfernandez

[2014-01-04 20:52] danielfernandez opened #53 "xhtml11-thymeleaf-spring3-4.dtd cannot be validated"
(Equivalent to thymeleaf/thymeleaf#248 but for thymeleaf-spring3)

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring3-3.dtd">

is validated fine by the W3C validator, but

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring3-4.dtd">

the W3C validator complains:
- Error (http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring3-4.dtd) Line 446, Colu

[2014-01-04 22:10] #53 closed, assigned to danielfernandez

[2014-01-04 22:23] danielfernandez commented on #53
Updated 2.1.3-SNAPSHOT

[2014-01-15 10:36] nithril commented on #46
Can I start to fix it ?

[2014-01-15 10:38] danielfernandez commented on #46
I would like to evaluate first the current use of this accessor... is this accessor currently added in the `EvaluationContext` instances used by the Spring JSP TagLibs? what kind of access in Spring EL expressions does it enable?

[2014-01-15 11:00] nithril commented on #46
Sorry, wanted to cancel my comment, not closed this issue.

This accessor seems to be used by Spring JSP with `EvalTag`.

It enables dot notation for Map `map.key`. `VariablesMapPropertyAccessor` is restricted to `VariablesMap` instance

[2014-01-18 00:39] danielfernandez commented on #46
Looks good and quite easy:
- Both `ThymeleafEvaluationContext` and `ThymeleafEvaluationContextWrapper` should be modified in order to add this accessor.
- The Spring `MapAccessor` class does not have any kind of state, so both modified classes should benefit from keeping a constant (`private static final`) object of class `MapAccessor` and use this only _singleton_ object at the `addPropertyAccess

[2014-01-19 19:22] nithril commented on #46
Prior to PR could you have a look?

[2014-01-19 23:58] danielfernandez commented on #46
@nithril looks perfect. I can take care of deleting `VariablesMapAccessor` afterwards.

[2014-01-20 08:30] nithril commented on #46
I have create the PRs. I think it is better you take care of VariablesMapAccessor. I do not have enough knowledge of Thymeleaf.

I accept the Thymeleaf Contributing Terms and Conditions including the Thymeleaf Individual Contributor License Agreement.

[2014-01-23 23:02] danielfernandez opened #57 "Support SpEL extension mechanisms"
Spring EL allows some extension mechanisms, like e.g. registering functions (later accessible with `#function(...)`): http://docs.spring.io/spring/docs/3.0.0.M3/reference/html/ch07s05.html#expressions-ref-functions

Maybe thymeleaf could offer some kind of support for this kind of functionality.

[2014-02-06 12:27] cocevk commented on #49
Hi, Daniel. This "bug" has wasted a lot of my time and probably will waste a lot of time for others, too. Please fix asap. Otherwise, thymeleaf is the ULTIMATE framework! :)

[2014-02-28 03:51] trusktr opened #58 "How do I set view previx outside of src/main/webapp?"
So for example, I have the following in my servlet-context.xml:

[code]

the value of

[code]

indicates that my view folder is located in `src/main/webapp/WEB-INF/views`. How would I move my view folder outside of `src/main/webapp`?

For example, how would I move it to `/src/main/foobar`?

I tried doing

[code]

but that didn't work, and it give the error

so using the realtive `/../` doesn't wor

[2014-02-28 05:16] ultraq commented on #58
You can use a different template resolver, like a `ClassLoaderTemplateResolver` or `FileTemplateResolver`, to be able to search for templates in different locations.  You're probably best served by the `ClassLoaderTemplateResolver` since you want to search your classpath.

[2014-03-01 00:16] #58 closed, assigned to ultraq

[2014-05-06 23:20] #46 closed, assigned to danielfernandez

[2014-05-07 00:14] danielfernandez commented on #35
Using `th:with` in your scenario should not provoke a significant difference.

Using this application context: https://github.com/thymeleaf/thymeleaf-tests/blob/20140506/src/test-21/resources/engine21/springintegration/applicationContext-beans.xml which defines a bean like:

[code]

...we created four tests that simulate four different scenarios:

**Scenario 1**

Use `th:with`. Access with `${bean

[2014-05-07 17:37] Rouche commented on #35
Hi,

Unfortunatelly my contract ended i dont have access to the code anymore.
And i had to switch on JSF (sadly)

The bean was a manual Java class. With like 20 getXXX methods returning
about 10 elements average.

The bean was declared by annotation in WebConfig. Used in the same web page
around 20 times. Sometime, the same property used 3 time (Like
state/province for 3 different address)

I was

[2014-05-07 18:10] Rouche commented on #35
Actually in your scenario 1.

It should be something like:

<body th:with="domainValues=${beans.domainValues}">

<ul>

<li th:each="stateProv : ${domainValues.stateProvince}">

</ul

Maybe thats why it gets a performance issue, the getStateProcinve()
method on domain values gets evaluated each time?

On Wed, May 7, 2014 at 1:37 PM, Larouche Jean-François rouche@gmail.comwrote:

[2014-05-07 19:02] danielfernandez commented on #35
Nope, it's only evaluated once for that `th:each`. Its result is a collection/array, and then such collection/array is iterated. Just one evaluation of the expression.

[2014-05-07 22:16] #35 closed, assigned to nobody

[2014-05-11 21:29] #49 closed, assigned to danielfernandez

[2014-05-11 21:45] danielfernandez commented on #49
This has been solved by taking a different, more Spring-integrated approach.

Modifications have been done on Thymeleaf's `SpelVariableExpressionEvaluator` class so that, if a type conversion is needed, instead of executing the expression and then applying the conversion service, Spring's SpEL engine is already called asking for a result of type `String.class`.

This has the effect of allowing the

[2014-05-11 21:45] danielfernandez commented on #49
This feature will be a part of 2.1.3.

2.1.3-SNAPSHOT updated.

[2014-05-11 21:50] danielfernandez commented on #37
Note this has been implemented and will be a part of Thymeleaf 2.1.3. See #49 for more information.

[2014-05-11 21:51] danielfernandez commented on #44
Note this has been implemented and will be a part of Thymeleaf 2.1.3. See #49 for more information.

[2014-05-11 21:55] danielfernandez commented on #43
Note this has been implemented and will be a part of Thymeleaf 2.1.3. See #49 for more information.

[2014-05-27 16:18] eyusupov opened #59 "Support specifying type locators for type operator in SpEL"
SpEL allows to register custom TypeLocators for use with T() operator. It would be very convenient if there was an easy way to register custom type locators in Thymeleaf-Spring and be able to write T(Example).method() instead of T(com.example.Example).method()

[2014-06-06 12:46] gillarramendi commented on #7
HDIV security framework has been integrated with Thymeleaf thanks to RequestDataValueProcessor interface support: https://github.com/hdiv/hdiv/commit/eea00c4d6b18e54d3b39ffebf15d2b625f652783
More info: https://github.com/hdiv/hdiv/issues/34

[2014-06-06 12:56] danielfernandez commented on #7
Mila esker! That's really great news :-)

Please don't hesitate contacting me ( http://www.thymeleaf.org/team.html ) when you release your new version, so that we can give it proper publicity.

[2014-06-06 13:09] gillarramendi commented on #7
Ok, Moitas grazas :-)

[2014-06-09 22:45] danielfernandez opened #60 "Modify default output character encoding"
It seems Spring will modify the default character encoding as of 4.1: https://jira.spring.io/browse/SPR-11779

Thymeleaf should mirror this behaviour, and set UTF-8 as default if Spring is version 4.1 or higher.

[2014-07-01 19:13] arienkock opened #62 "@DateTimeFormat ignored inside th:each loop"
This works: ${{page.content[**${itemStat.index}**].startTime}}
but using ${{item.startTime}} does not.

I have no explicitly defined ConversionService, only the default FormatterRegistry available through @EnableWebMvc

[2014-07-01 19:15] danielfernandez commented on #62
Are you using a version older than 2.1.3.RELEASE? Please have a look at #49.

[2014-07-01 20:48] arienkock commented on #62
Oops, I was not. Thanks for the heads up.

On Tue, Jul 1, 2014 at 9:15 PM, Daniel Fernández notifications@github.com
wrote:

[2014-07-01 21:41] #62 closed, assigned to danielfernandez

[2014-07-18 13:54] dchartfield opened #63 "Spring Mobile + Thymeleaf with fallback to desktop view"
Hello, I am using Spring Mobile with Thymeleaf and it is working well. One thing I would like to be able to do is to set the viewResolver to fallback to the the desktop template if a mobile template is not found.

Spring Mobile's LiteDeviceDelegatingViewResolver ( org.springframework.mobile.device.view.LiteDeviceDelegatingViewResolver ) has the option to setEnableFallback( true ), which means befo

[2014-07-21 13:55] balteo opened #64 "ThymeleafViewResolver not used by Spring 4.1 resulting in "circular view path" error"
I use the following:
- Spring Framework 4.1.0.BUILD-SNAPSHOT
- Spring Security 4.0.0.M1
- Thymeleaf 2.1.3.RELEASE
- Thymeleaf thymeleaf-extras-tiles2-spring4 2.1.1.RELEASE
- Thymeleaf thymeleaf-extras-springsecurity3 2.1.1.RELEASE

I have configured a view resolver as follows:

[code]

And it seems the view resolver is not found by Spring which uses the default view resolver and resulting in the f

[2014-07-21 19:04] balteo commented on #64
I have opened a JIRA on Spring [here](https://jira.spring.io/browse/SPR-12013) and was given the solution there by one of the Spring committers.

To sum up one needs to set the order of the view resolver to something like **0** as follows:

[code]

Notice the added line:  `viewResolver.setOrder(0);`

Hope this can help someone.

J.

[2014-09-02 17:39] odrotbohm opened #65 "ThymeleafViewResolver accidentally picks up non-view beans"
Assume the `ApplicationContext` contains an arbitrary bean with the name of a view by accident, `ThymeleafViewResolver.loadView(…)` will attempt to re-initialize the bean which is very likely to fail as the bean definition contains the setup for a completely different type.

So `loadView(…)` needs to double check the bean type and fall back to the view created manually in case the found bean is no

[2014-09-23 09:11] lightoze opened #66 "th:errorclass throws exception on nested values"
Example HTML is as follows:

[code]

When th:errorclass is added, it produces an exception:

[code]

Debugging shows that it incorrectly calculates field expression when checking for errors: `form.applications[0].applications[0].recommendedSum`

Replacing it with `th:classappend="${#fields.hasErrors('recommendedSum')}? has-error"` works as a workaround.

[2014-09-25 10:58] divinespear opened #67 "th:field should set raw value when input type is number or range."
Currently, `th:field` always apply formatters automatically.

when `<input>` type is `number` or `range`, and field has formatter (mostly `@NumberFormat`), formatted value is not number, so ignored by browsers.
it should set raw value instead formatted value when `<input>` type is `number` or `range`.

[2014-09-25 12:54] lubo08 opened #68 "checkbox problem with admin css styles based on twiter bootsrap"
I bay admin layout based on twitter bootstrap and I'm realy anoyed as im not able checkbox to get working. because thymeleaf add hidden field right after checkbox field. then css styles for covered span which style check not working.

[code]

Is there any possibility to stop generate this hidden field or choose manually where this field will be placed?

as this is added automaticaly after checkbox

[2014-11-23 19:28] bclozel opened #70 "Support for MvcUriComponentsBuilder in spring dialect?"
I've taken a look at this repo, and I didn't find support for MvcUriComponentsBuilder (building URIs to controller actions within views), available as of Spring 4.1. Is this already supported in some way?

If not how would you do it?

Reference: https://stackoverflow.com/questions/27080454/playframework2-like-reverse-routing-in-spring/27090639

[2014-11-23 22:53] danielfernandez commented on #64
Closing this, as it was identified and fixed as a Spring MVC issue.

[2014-11-23 22:53] #64 closed, assigned to danielfernandez

[2014-11-26 00:28] danielfernandez commented on #65
I'm not completely sure about what you mean... these lines from https://github.com/thymeleaf/thymeleaf-spring/blob/f011dcc0eb751eef1fa05e707cf3006c1aaa62f5/thymeleaf-spring3/src/main/java/org/thymeleaf/spring3/view/ThymeleafViewResolver.java#L644-L649

[code]

Should take care of initializing the `view` object, which will always be an `AbstractThymeleafView` because it comes from https://github.co

[2014-11-26 00:38] danielfernandez commented on #68
Unfortunately, this hidden `<input>` is required by Spring MVC. The only way you have to avoid it is to not add a `th:field` attribute to your checkbox and try to make it work using `th:name` and `th:value`... though some other form binding problems might arise.

Spring MVC uses the additional hidden `<input>` to actually determine the existence of the field, its visibility, in order to being able

[2014-11-26 00:38] #68 closed, assigned to danielfernandez

[2014-11-26 08:47] odrotbohm commented on #65
[code]

Assume we have a view name `guestbook` and - by accident a Spring Bean in our `applicationContext` of type `Guestbook` which has nothing to do with the view at all but is just an arbitrary service. `applyBeanPropertyValues(…)` will then go ahead an take the property definitions registered for the arbitrary bean and try to apply these to the subtype of `AbstractThymeleafView` will fail if t

[2014-11-26 11:50] odrotbohm commented on #65
I am generally wondering which case the else branch is supposed to catch: a bean definition with the name of the view to resolve but not implementing `AbstractThymeleafView`. Is that a common scenario? I mean, if I want view instantiation and population via Spring, I'd declare the view as a prototype bean in the first place (which let's the if-branch kick in), wouldn't I?

[2014-11-27 12:34] danielfernandez commented on #65
Hmmm... the _support_ for initializing the new `View` instance from a non-`View` registered bean is there since the very beginning, in version 1.0.0, but basically by error, because `configureBean()` was being used for every appctx-registered bean be it a `View` or not: https://github.com/thymeleaf/thymeleaf-spring/blob/thymeleaf-spring3-1.1.5/src/main/java/org/thymeleaf/spring3/view/ThymeleafView

[2014-11-27 12:39] odrotbohm commented on #65
That's great to hear thanks. It might be a brute force solution but you could add a catch block around the initialization to simply skip it in case it fails. Remembering that decision for further attempts to resolve the view might be a good idea, too.

[2014-11-27 13:47] danielfernandez commented on #67
At first thought this looks like a good idea. Let me think a bit more about the consequences of this, anyway, because the Spring JSP TagLib does not do this (it does apply `@NumberFormat`) and I'd like to be sure that such change does not break anything.

[2014-11-27 20:26] masterdany88 commented on #70
Hey. If it's added to Thymeleaf 2.1 milestone, when it will be released. I am asking for aproximate date. Will it be in this year? I've just started to write my own reverse routing mechanism, and I dont know should I continue?

[2014-11-27 20:32] danielfernandez commented on #70
Just to clarify: this ticket has been assigned to the 2.1 Milestone because it refers to the Thymeleaf 2.1 branch and, if it were developed, it would probably be for the 2.1 version. But it is under evaluation yet, unfortunately I cannot tell you whether it will be 2.1.4, 2.1.5... or ever, because it hasn't been evaluated yet :-)

What I can tell you is that the idea is to release 2.1.4 in the nex

[2014-11-27 20:39] masterdany88 commented on #70
Ok. I will be waiting. Thanks

[2014-11-28 07:59] bclozel commented on #70
Awesome, thanks @danielfernandez - let us know if you need some help on this (like how you'd do it) and we can submit PRs.

[2014-12-01 00:05] #65 closed, assigned to danielfernandez

[2014-12-01 00:05] #67 closed, assigned to danielfernandez

[2014-12-01 00:08] danielfernandez commented on #67
This has finally been implemented, as can be seen in the linked commit.

Updated 2.1.4-SNAPSHOT.

[2014-12-01 00:08] danielfernandez commented on #65
I finally went for an IMHO cleaner approach: allow prototyping of views by means of both registered beans of type `AbstractThymeleafView` and also registered abstract beans (no type). This should cover all scenarios that actually make sense.

In any other cases, beans registered at the Application Context will not be used as prototypes.

Updated 2.1.4-SNAPSHOT

[2014-12-01 08:17] mreiterer opened #71 "Form checkbox handling with dynamic fields"
I am using dynamic fields for a generic way to present entities. The actual values are in a map.

[code]

Here is a snipped from my template:

[code]

The checkbox is not bound correctly when using the pre-processing which is necessary for my dynamic fields.
Means: no hidden field is generated for spring mvc, the value in the map is not used to render the checked attribute of the input field.

[2014-12-02 13:39] danielfernandez commented on #71
I think you are missing single quotes in your expression. Shouldn't...

[code]

actually be:

[code]

?

[2014-12-02 15:16] mreiterer commented on #71
The approach works in general, also spring mvc databinding to the map. What i have to do manually is to convert the fields to the desired datatype.

The resulting html is:

[code]

Your approach produces:

[code]

Still no databinding, still no hidden field for spring mvc.

[2014-12-02 15:16] mreiterer commented on #71
my current workaround is:

[code]

[2014-12-02 20:21] #66 closed, assigned to danielfernandez

[2014-12-02 20:44] danielfernandez commented on #66
Fixed! This was actually a quite interesting one. Thanks!

Updated 2.1.4-SNASPSHOT

[2014-12-03 23:44] danielfernandez commented on #71
I've added tests for this at https://github.com/thymeleaf/thymeleaf-tests/blob/288e58800b4825ce5a7f630ba088928c37f66fa8/src/test-21/resources/engine21/springintegration/form/form10.thtest (also see https://github.com/thymeleaf/thymeleaf-tests/blob/288e58800b4825ce5a7f630ba088928c37f66fa8/src/test-21/resources/engine21/springintegration/form/form10.thtest ) and it works OK (adding the single quotes

[2014-12-04 07:03] mreiterer commented on #71
Thanks for effort and support.

Yes. i have a public getter method.
And yes - the workaround works OK without quotes.

1) I do not understand your test - shouldn't the output include a hidden field with underscore prefix for spring mvc ?

2) Can you add a test with a boolean property ?

entity.properties['boolField'] = true
Then i would expect the checked property set for the checkbox.

[2014-12-04 10:58] danielfernandez commented on #71
OK. The problem is in `th:type`. For some reason this works OK if you use `type` instead (which, by the way, you don't have any reason not to use). Will investigate this as a bug.

[2014-12-04 12:35] mreiterer commented on #71
Confirmed. Thanks. I am using th:type because i determine the type dynamically.

[2014-12-06 22:10] pjentsch opened #72 "Error when applying conversion to expression that looks like a bean property"
When using the "{{bean.property}}" notation to apply conversion in spring expressions with expressions like "{{bean.someMethod()}}", rendering fails with a NotReadablePropertyException.

I assume that's because "FieldUtils#isBound" checks only if the bean is present, but not if the property path is valid.

I hacked up a sample project that displays the bug, available at https://github.com/pjentsch

[2014-12-07 13:10] ravshansbox opened #74 "Possibility to bind errors via th:field value"
Is it possible to bind error via th:field value?
Instead of

[code]

better would be this

[code]

otherwise pages often contain some tens of ${#fields.hasErrors('fieldName')}

[2014-12-07 20:15] danielfernandez commented on #74
Actually, the `th:errorclass` attribute exists since Thymeleaf 2.1.0, and it works exactly as you describe :-)

[2014-12-07 20:15] #74 closed, assigned to danielfernandez

[2014-12-07 22:36] #71 closed, assigned to danielfernandez

[2014-12-07 22:50] danielfernandez commented on #71
Fixed!

Updated 2.1.4-SNAPSHOT

[2014-12-08 09:02] ravshansbox commented on #74
good to know, thank you very much.

[2014-12-11 23:12] danielfernandez commented on #72
Fixed by applying #73

Updated 2.1.4-SNAPSHOT

[2014-12-11 23:12] #72 closed, assigned to danielfernandez

[2014-12-16 01:45] #70 closed, assigned to danielfernandez

[2014-12-16 02:06] danielfernandez commented on #70
This support has been added by means of a new `#mvc` expression utility object.

It provides a method, `#mvc.uri(...)` that works exactly the same as the `s:mvcUri(...)` function from the Spring JSP tag libraries. A simple example can be seen in this test: https://github.com/thymeleaf/thymeleaf-tests/blob/b6fa2da3f6bea7bc9ba6dcf419f000be49c9fd97/src/test-21-spring41/resources/engine21spring41/spri

[2014-12-22 10:20] danielfernandez commented on #72
Thymeleaf 2.1.4 has just been published, including this fix.

[2014-12-22 10:20] danielfernandez commented on #65
Thymeleaf 2.1.4 has just been published, including this fix.

[2014-12-22 10:20] danielfernandez commented on #67
Thymeleaf 2.1.4 has just been published, including this improvement.

[2014-12-22 10:21] danielfernandez commented on #70
Thymeleaf 2.1.4 has just been published, including this improvement.

[2014-12-22 12:09] odrotbohm commented on #65
Awesome, Daniel, thanks a lot! :)

[2015-01-08 00:18] jasonhendriks opened #75 "checking for "Spring form: global errors" results in NPE (Resolved)"
I tried the example given at http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html#global-errors:

That, is:
    `<div th:if="${#fields.hasGlobalErrors()}">`
and
    `<ul th:if="${#fields.hasErrors('global')}">`

When I add them to my HTML, the page won't even render, nevermind about submitting the form. both examples result in:
`org.springframework.web.util.NestedServletException: Reque

[2015-01-10 21:42] jasonhendriks commented on #75
I stumbled upon http://stackoverflow.com/questions/22948257/thymeleaf-not-displaying-spring-form-error-messages and realized that `th:object` is needed in a tag preceding ${#field.hasGlobalErrors()}. I didn't need `th:object` for any other part of my html form up to now.

Unfortunately, no mention of `th:object` is made anywhere at the tutorial at http://www.thymeleaf.org/doc/tutorials/2.1/thymele

[2015-01-10 21:45] ultraq commented on #75
*nudge nudge* @danielfernandez

[2015-01-10 22:27] jasonhendriks commented on #75
I created http://stackoverflow.com/questions/27881743/spring-thyme-leaf-checking-for-global-errors-results-in-npe/27881806 in case anyone has my same issue.

[2015-01-11 17:53] danielfernandez commented on #75
Yes, actually, the `all` and `global` modifiers can only work where there is a Spring form binding in place, which is what `th:object` does. Other field error expressions do work, but those two cannot because they are relative to a specific form bean, and in order to know which `all` or `global` errors you want to show, Spring needs to know the name of the form you want to show these errors for.

[2015-01-11 17:58] #75 closed

[2015-01-20 17:24] markus-s24 opened #76 "Property editors not supported for input type="number""
Property editors are not applied for input type="number", because SpringInputGeneralFieldAttrProcessor#applyConversion(String) disallows them. Is this intentional? Why?

[2015-01-20 17:34] danielfernandez commented on #76
Yes, it's intentional. Because if those numbers were formatted, they wouldn't be recognized by browsers as numbers. See #67

[2015-01-20 17:34] #76 closed

[2015-01-24 14:42] KhArtNJava opened #77 "Strange mistake in Thymeleaf replace with variable"
I have code:

[code]

As you see, this code will print on the page something like `!!!admin/editElementsFromObjects/fragments/templateForString :: templateForString!!!` . OK.

But now we will uncomment code

[code]

It will include existing template file. OK. Good.

But why when I make code something like

[code]

Then I got exception

[code]

Why it can't be included with code `<div th:replace="$

[2015-01-24 22:32] danielfernandez commented on #77
Sorry, but GitHub seems to have garbled all your code :( Could you please edit your post so that code samples can be adequately read?

[2015-01-25 04:28] ultraq commented on #77
@danielfernandez, this is GitHub, you can edit his post to reveal the code :P

*edits the original post*

There, better.

[2015-01-30 08:46] KhArtNJava commented on #77
Any ideas? :)

[2015-01-30 09:04] danielfernandez opened #78 "Make expression preprocessing run before some attributes parse them"
Currently, the expression pre-processing mechanism is running once an expression is being executed. So there's no way that users can build the values of attributes such as `th:each` or `th:include`, `th:replace`, etc. (see #77 for better reference)

It could be useful if preprocessing executed actually _before_ these attributes split their values into their corresponding parts.

[2015-01-30 09:11] danielfernandez commented on #77
Actually, that's working as intended. The `th:replace` attribute has several possible syntaxes:
- `templateName` for including a complete template.
- `templateName :: fragmentName` for including only a fragment of a specific template.
- `:: fragmentName` for including a fragment of the same template
- ...and then the variants with parameters, like `templateName (param1, param2)`, etc.

Any of the

[2015-01-30 09:11] #77 closed

[2015-02-13 00:29] ghost opened #79 "[Bootstrap + Thymeleaf + Spring] Issue with radio buttons"
Hi all,
I'm doing a project where I'm using bootstrap (v. 3.3.2) and thymeleaf (spring-boot-starter-thymeleaf), everythings looks to be good but I'm having some issues when I want to pre-check a radio button while I'm loading info in the radio groups.

I try to use th:attr and th:checked; but I don't see any results (I don't see the "checked" property in the input element).  But, I did an experime

[2015-03-24 19:43] baym0n opened #80 "Spring bean is not resolved correctly"
I have a form like this:

[code]

and a spring bean like this:

[code]

When I request the page I get the following error:

[code]

The error occurs when thymeleaf tries to handle the expression `*{value}`. I can see that when I set a debugging breakpoint in the class `BindStatus` at line 144:

[code]

`path` is set to `@input.value`
`beanName` is set to `@input`
`this.expression` is set to `value

[2015-04-02 17:54] MatthewEdge commented on #80
I am running into the same issue with two separate projects I'm toying with. One was literally a carbon copy of the example project on spring.io. Both fail with the same exception

[2015-04-21 17:22] alan125 opened #81 "redirect: and forward: are not handled correctly"
In `createView(final String viewName, final Locale locale)`, the first thing done is to call `canHandle(final String viewName, @SuppressWarnings("unused") final Locale locale)`. If the result is false, null is returned. The canHandle method doesn't check if the viewName starts with **redirect:** or **forward:**, so the checks after the call are useless. Either move the the call to the canHandle me

[2015-04-22 09:40] kelokelo opened #83 "Thymeleaf concurency error with StandardCacheManager"
When I use th:object and th:each on page loaded concurrently by few users, thymeleaf throws errors. I use default config (with StandardCacheManager).

Example code to recreate error: https://github.com/kelokelo/Thymeleaf-error

Thymeleaf throw errors:
[code]

[2015-04-24 18:35] kelokelo commented on #60
They do not change. Task has status won't fix.

[2015-04-30 14:58] danielfernandez opened #84 "Use (optionally) the SpringEL compiler in Spring 4.1"
Spring 4.1 introduced compilation of SpringEL expressions: http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/expression/spel/standard/SpelCompiler.html

Expressions seem to be compiled using info from past executions, so it seems nothing needs to be done at the `PropertyAccessor` level as happens in OGNL. However this also means that some expressions might provoke runtime e

[2015-05-01 13:37] jkuipers commented on #84
Note that Andy Clement left a comment in https://jira.spring.io/browse/SPR-12271 suggesting that Spring might make some changes to prevent libraries like Thymeleaf having to change their code to make it suitable for SpEL compilation:

[2015-05-04 07:09] chrylis opened #85 "ThymeleafViewResolver doesn't play nice with MockMvc"
The `ThymeleafViewResolver` appears to treat views as self-contained beans, and at line 661 it calls `beanFactory.autowireBeanProperties` on them. This causes an exception when attempting to use the view resolver with a standalone MockMvc context, which is a stub context and doesn't support autowiring:

    Caused by: java.lang.UnsupportedOperationException
	at org.springframework.test.web.servlet

[2015-05-08 13:31] RAvontuur commented on #83
I really would like this issue solved, as I daily see simular stack traces on production servers, without being able to reproduce them. Thanks a lot for this reproduction path!

After a bit of experimentation, I found that the following code change also works:

in class SpelVariableExpressionEvaluator (line139), add a synchronized block:

[code]

explanation:
The cacheManager shares SpelExpression

[2015-05-08 18:56] kelokelo commented on #83
As a workaround we just remove usage of th:object tag. And errors don't show on production.
But for future, I believe the best solution will be fix the StandardCacheManager

[2015-05-08 18:59] kelokelo commented on #83
We can also disable cache manager but is not a case for production:)

[2015-05-11 08:48] RAvontuur commented on #83
Fixing the StandardCacheManager could be done by creating a separate cache for each thread in order to prevent sharing SpelExpression objects. Or, do you see a another solution?

[2015-05-13 09:36] RAvontuur commented on #83
After having discussed this issue with my colleagues, we came to the conclusion that this issue is best solved by modifications of code in the Spring Framework, and not in Thymeleaf.
Performance tests on alternatives based on the use of 'synchonized' or 'thread local storage' showed much too high performance penalties.
The proposed solution showed no performance degradation.

You can find and test

[2015-05-13 13:17] RAvontuur commented on #83
I just created an issue in the Spring project:
https://jira.spring.io/browse/SPR-13023
Hopefully will this lead to a solution for this issue.

[2015-05-13 14:53] RAvontuur commented on #83
This issue may be closed, as it will be resolved in Spring-release 4.1.7.
see https://jira.spring.io/browse/SPR-13023

[2015-05-13 21:08] ultraq commented on #83
Oh wow, nice investigation guys :+1:

[2015-05-13 21:08] #83 closed

[2015-05-14 07:48] danielfernandez commented on #83
OK, so this was introduced in 4.1 when they added expression compilation, that's why my tests had always shown `SpelExpression` objects as thread-safe, which is what IMHO they should be from the moment they are meant to be pre-parsed and cached...

Thanks so much for all the effort diagnosing and reporting this to the Spring team.

[2015-05-14 07:56] danielfernandez opened #86 "Move precedence setting to the dialects"
Allow the registration of processors/pre-processors/post-processors in dialects to be done at the moment of instantiation of the dialect, not by having hard-coded constants in these clases (at most, these should work as a default value as the `dialectPrefix` does).

Ideally, this would allow us to pass the dialects information about other dialects already configured, and therefore allow processors

[2015-05-14 08:00] danielfernandez opened #87 "Make sure a markup minifier post-processor is feasible"
One of the possible interesting *extras* for 3.0 would be a markup minifier acting as a post-processor, which can be therefore configured by an `IPostProcessorDialect`.

Minifying whitespace would be extremely simple now we have `IText#isWhitespace()`, but given the way `IProcessableTag` implementations write themselves to output (it's them who generate the markup in their `write(Writer)` method a

[2015-05-14 08:02] danielfernandez commented on #86
This issue was moved to thymeleaf/thymeleaf#368

[2015-05-14 08:02] #86 closed

[2015-05-14 08:03] danielfernandez commented on #86
This has been moved to thymeleaf/thymeleaf#368 (shouldn't have been created here)

[2015-05-14 08:04] danielfernandez commented on #87
This issue was moved to thymeleaf/thymeleaf#369

[2015-05-14 08:04] #87 closed

[2015-05-14 08:05] danielfernandez commented on #87
Moved to thymeleaf/thymeleaf#369 (Shouldn't have been created here)

[2015-06-04 12:46] mehanika commented on #79
Hi, have you tried removing `th:checked`?. Thymeleaf by itself will check the radio button if the corresponding value is in `*{features}`

[2015-06-04 13:05] mehanika commented on #80
I think spring is trying to find the id **input**, if you the declare your bean in a spring xml and assign the id input i will work, or assign the id input to your annotations

[2015-06-10 07:41] danielfernandez commented on #60
You're right. Thanks. Closing this, at least for now.

[2015-06-10 07:41] #60 closed

[2015-07-01 04:12] caioquirino opened #88 "NullPointerException at spring4.util.FieldUtils.checkErrors(FieldUtils.java:245)"
Hello.
I use Spring Boot + Thymeleaf, i'm using the latest stable (2.1.4) version of Thymeleaf and facing a NullPointerException:

I'm getting this exception when use the following code:
[code]

Exception
[code]

Anyone facing the same error?
Any workaround while the 3.0 version doesn't arrive?

[2015-07-22 17:48] candrews opened #89 "Use Spring Cache Abstraction"
In my opinion, when SpringTemplateEngine is used, one would expect Thymeleaf to use Spring's cache abstraction (SpringTemplateEngine already causes Thymeleaf to use other Spring features/components, so why not cache?).

Can this feature be added? I've figured out how to do that and written up how to make that happen, along with the code: http://candrews.integralblue.com/2015/07/using-spring-cache-

[2015-07-23 12:37] mohic opened #90 "Get field error code"
Hi,

In my project, I want to get error code from a specific field but this method is not available.

For the moment I have resolved my problem with this code:

[code]

It will be great if you add possibility to make:
[code]

Best Regards,
Christophe

[2015-08-07 12:42] matty opened #91 "HTML5Legacy mode forms insert invalid HTML5"
If you use HTML5Legacy mode, using a form with "th:object" to have proper Spring form validation integration causes it to insert invalid HTML5.

e.g
<input id="random" name="randomName" placeholder="" type="text" value="" required=""/>

Note the / is not required and neither is the "" on required="", so it can be just required>

[2015-08-22 09:00] ghost commented on #80
The bean `input` exists in the spring application context, beacause its annotated with `@Component`! But thymeleaf is unable to find/access it.

[2015-08-26 14:42] gauthierj commented on #90
+1 on this one, would be nice to have this.

This seems to be more a bug than a feature. In FieldUtils.computeErrors(...) (around line 139) the code :

final String[] errorCodes = bindStatus.getErrorMessages();

seems to indicate that error codes and not error messages are supposed to  be returned.

Regards

[2015-09-03 15:50] JananiSubbiah opened #92 "Nested table fragments with thymeleaf"
I have a spring boot application that uses thymeleaf templating to generate emails. I get the following error when trying to nest table fragments in thymeleaf:

[code]

Base template (html-email-boiler-plate.html):
[code]

Template that uses html-email-boiler-plate(sample.html)
[code]

I saw the following two posts on similar errors:
1) https://github.com/thymeleaf/thymeleaf-spring/issues/83
2) ht

[2015-09-08 10:15] saljuama commented on #90
+1, is there any better place to vote for that feature request?

[2015-09-21 18:53] jeanbza commented on #85
+1, also would like to see this resolved (thymeleaf+mockmvc)

[2015-10-01 21:28] alejod opened #93 "Custom formatter not being called in form POST"
Hi,
I have a dropdown with a list of Country objects coming from the database.
When I submit the form, the binding fails and address.country is null and I get an error "Failed to convert property value of type 'java.lang.String' to required type 'com.myproject.model.Country' for property 'address.country'"

I read about this issue, and everyone using JSP seems to have solved it by adding a custom

[2015-10-05 15:24] hunzai commented on #80
any news on this - I am getting same error

[2015-10-06 08:55] hunzai commented on #80
In my case the problem was ${@input}  , it should be ${input}. I am assuming you have added input as model attribute in your controller.

[2015-10-08 09:05] yacota opened #94 "ThymeleafViewResolver could check if the viewName/template exists"
It would be useful that ThymeleafViewResolver would use the ApplicationContext to check if the viewName exists in its canHandle method.
This feature would be very useful when using LiteDeviceDelegatingViewResolver with enableFallback set to true thus making it possible to use whenever possible the most appropiate view depending on the request's device type.

There are some things to take into acco

[2015-10-14 06:16] SnakeSVx commented on #94
Would it not be better to add a canHandle method to each template resolver, and let each template resolver check internally if it can handle that specific view or not?

This way it is more extendable, since not every resolver his resources might be able to be found through the applicationContext.

[2015-10-14 07:51] yacota commented on #94
+1 I agree, but I still think that ThymeleafViewResolver.createView method should first check the existance of forward and redirect pattern before calling canHandle

[2015-10-14 22:51] danielfernandez commented on #94
FYI, in relation to this, we are currently in the process of performing a large refactoring on the context, template resolution and message resolution APIs which, among other things, will bring the possibility to configure template resolvers to check the real existence of resources before considering them _resolved_.

[2015-10-29 23:05] danielfernandez commented on #94
Please note that the `ITemplateResource#exists()` method (see thymeleaf/thymeleaf#419) and the `AbstractTemplateResolver#checkExistence` configurable flag should cover the need for template resolvers being able to check if a resource really exist before considering it _resolved_.

I'm leaving this open just in case doing something from the Spring view resolver is feasible, though at first thought

[2015-11-25 00:49] danielfernandez opened #95 "Configure SpringEL compiler"
Spring will include compilation of expressions based on `MapAccessor` in version 4.2.4 (see https://jira.spring.io/browse/SPR-13638 ), so it seems like a good idea to add some way to enable the SpelCompiler for SpringEL expressions if Spring version is >= 4.2. First preliminary results show a 35% performance increase in some thymeleaf benchmarks thanks to the use of this expression compiler.

See

[2015-12-01 15:54] garpinc opened #96 "Spring package in distribution causing osgi issues"
Is there any need to include org.springframework.web.servlet.tags.form in distribution rather than putting it in a thymeleaf package. When creating osgi manifest: Bundlor Warnings:
    The manifest both imports and exports the package org.springframework.web.servlet.tags.form

This will cause an osgi conflict

[2016-01-27 22:27] danielfernandez opened #97 "New expression object for manually applying RequestDataValueProcessor"
Spring's `RequestDataValueProcessor`, introduced in Spring 3.1, allows Spring to perform specific last-minute modifications to the values of URLs being output, as well as add a set of extra hidden fields inside forms. This helps managing security aspects such as CSRF tokens.

Support for this was added in Thymeleaf 2.1. See #7. This functionality is automatically applied at `th:href`, `th:src`, `t

[2016-01-27 22:28] danielfernandez commented on #97
Already in `3.0.0-SNAPSHOT`

[2016-01-27 22:28] #97 closed

[2016-01-31 16:20] dtrunk90 commented on #89
+1

[2016-02-11 01:03] #84 closed

[2016-02-11 01:03] #95 closed

[2016-02-11 01:19] danielfernandez commented on #95
This has been implemented as a _flag_ at both the `SpringStandardDialect` and the `SpringTemplateEngine` classes.

The SpringEL compiler will be **disabled by default**, but it will be easy to enable just by setting this flag:

[code]

Internally, enabling this flag will set the `SpelCompilerMode` to `IMMEDIATE`.

[2016-02-11 01:20] danielfernandez commented on #95
Already in `3.0.0-SNAPSHOT`

[2016-02-11 01:20] danielfernandez commented on #84
This has been implemented as explained in #95

[2016-02-11 01:29] danielfernandez commented on #95
Also note that, in order for most Thymeleaf expressions to be able to properly benefit from the SpEL compiler, version 4.2.4 (at least) of the Spring Framework is required.

[2016-02-11 22:39] danielfernandez commented on #85
This behaviour seems to have been fixed in the Spring MVC Test framework itself, and now `StubWebApplicationContext$StubBeanFactory.autowireBeanProperties(...)` does not raise an `UnsupportedOperationException` anymore.

Check out SPR-13375: https://jira.spring.io/browse/SPR-13375 fixed in versions 4.1.8 and 4.2.1 of Spring Framework.

And the relevant commit: https://github.com/spring-projects/sp

[2016-02-11 22:39] #85 closed

[2016-02-11 22:40] danielfernandez commented on #79
`th:field`, when applied on an `<input type="radio">`, automatically assigns values to the `checked` attribute (basically sets or unsets it as needed) based on the `value` (or `th:value` if exists) attribute. So, as @mehanika correctly points out, your `th:checked` there is interfering with the value assigned by `th:field`.

[2016-02-11 22:40] #79 closed

[2016-02-11 22:44] danielfernandez commented on #96
The reason there is a `org.springframework.web.servlet.tags.form` in the Thymeleaf integration packages is that there are some package-protected classes in Spring at that package that Thymeleaf needs to access. So the only _elegant_ solution is to create `public` wrappers for those classes in that same package in the Thymeleaf distribution in order to publish the needed methods.

I would suggest y

[2016-02-11 22:44] #96 closed

[2016-02-11 23:30] danielfernandez commented on #81
This has also been asked at #94, but I'm not completely sure about it…

I understand the reasons behind it, and from a user's standpoint I would like it to work that way, but the fact is that Spring's `UrlBasedViewResolver` code (used for JSPs) does it in exactly the way it is now, so modifying it would break similarity with how Spring resolves JSPs.

The key thing here is that checking for `redir

[2016-02-12 00:49] danielfernandez commented on #80
This is a SpringMVC thing, Thymeleaf has little to do with it. And I'll explain:

Your scenario is a bit complicated from the Spring perspective. The following things happen:
- You are using a session bean that is actually maintained by the application context (due to that `@Component`) and not simply by a session-bound controller.
- Spring MVC does not allow the creation of _bindings_ (an interna

[2016-02-12 00:49] #80 closed

[2016-02-12 01:01] danielfernandez commented on #91
This is something that can happen in Thymeleaf 2.1 due to the use of an external tag balancer called _NekoHTML_ in the `LEGACYHTML5` template mode. Unfortunately it is out of the Thymeleaf scope because nekoHTML works separately and previously to Thymeleaf's own parser.

However, Thymeleaf 3.0 has completely revamped its parsing layer (see thymeleaf/thymeleaf#390) so that it does not depend anymor

[2016-02-12 01:01] #91 closed

[2016-02-12 15:27] danielfernandez commented on #89
I'm leaving this in the *Wish List* for now. I agree that integrating with Spring's own caching infrastructure looks interesting, but the nature of Thymeleaf's cached artifacts (mostly templates --- expressions are not a problem) and the impossibility to manage them as serializable structures might end up posing a series of problems with some cache implementations.

So for now I prefer to leave th

[2016-02-12 15:28] danielfernandez commented on #92
Your code uses the Thymeleaf Layout Dialect by @ultraq for fragment insertion. The Layout Dialect is an external project, not a part of the official Thymeleaf distributions, so I think your ticket would make more sense here: https://github.com/ultraq/thymeleaf-layout-dialect

I'm closing this here. Thanks.

[2016-02-12 15:28] #92 closed

[2016-02-12 17:37] danielfernandez commented on #88
Your problem seems to be that you are placing your calls to `#fields` ouside the scope of a `<form>` with its bound bean specified at a  `th:object` attribute. Calls to _any errors_ without specifying a field have to be inside the scope of a `th:object`.

If you need to use this **outside** a form, you can use the name of the form in an expression specifying all its fields (as well as global error

[2016-02-12 17:37] #88 closed

[2016-02-12 17:39] #90 closed

[2016-02-12 17:40] danielfernandez commented on #88
Already in `2.1.5-SNAPSHOT` and `3.0.0-SNAPSHOT`

[2016-02-12 17:41] danielfernandez commented on #90
This has been implemented for Thymeleaf 3.0. Instead of creating an `errorCode(...)` method in `#fields`, the `detailedErrors(...)` functionality has been expanded so that users can now ask not only for `DetailedError` objects for the entire form, but also for a specific field or only those that are marked _global_ (i.e. not belonging to any specific field).

The new methods mimic the method names

[2016-02-12 17:41] danielfernandez commented on #90
Already in `3.0.0-SNAPSHOT`

[2016-02-12 17:42] danielfernandez commented on #93
This doesn't look as a Thymeleaf issue. Thymeleaf's responsibility is to actually _render_ your countries as HTML using the formatter, which it is apparently doing alright in your `th:value="${{country}}"` attribute at the `<option>` tag.

The _parsing phase_ of this flow, the part that would have to render your `AF` back into a `Country` object for Afghanistan after form submit, is the responsibi

[2016-02-12 17:42] #93 closed

[2016-02-13 14:40] danielfernandez commented on #32
Moved. Note the final package order is `webflow.view` and not `view.webflow`.

[2016-02-13 14:40] #32 closed

[2016-02-13 14:40] danielfernandez commented on #32
Already in `3.0.0-SNAPSHOT`

[2016-02-13 14:43] danielfernandez opened #98 "Remove webflow-specific artifacts deprecated in 3.0"
Several view classes specific to Spring WebFlow were moved in 3.0 from the general `view` package to the more specific `webflow.view`. See #32

This left at the `view` package the old classes, which should be removed in 3.1

[2016-02-13 14:45] danielfernandez commented on #78
Moved to the Wish List

[2016-02-13 23:21] #81 closed

[2016-02-13 23:30] danielfernandez commented on #81
This has finally been implemented by adding a new flag to the `ThymeleafViewResolver` classes (both for Spring 3 and Spring 4) called `alwaysProcessRedirectAndForward`.

When `true`, the view resolver will process `redirect:` and `forward:` prefixes _before_ checking the `viewNames` property at the `canHandle(...)` method, and therefore will resolve redirects and forwards without needing to add th

[2016-02-13 23:30] danielfernandez commented on #81
Already in `3.0.0-SNAPSHOT`

[2016-02-13 23:38] danielfernandez commented on #94
Several things to note regarding this ticket:
- Thanks to the new `ITemplateResource#exists()` method and the `AbstractTemplateResolver#checkExistence` flag Thymeleaf 3.0 allows to configure a chain of `ITemplateResolver`s that can skip to the next element in the chain by checking whether a resolvable template resource actually exists or not.
- It would be complex, especially (but not only) from a

[2016-02-13 23:38] #94 closed

[2016-02-14 00:39] yacota commented on #94
Awesome. Thanks !

[2016-02-16 23:29] danielfernandez opened #99 "ITemplateResource.getBaseName() not stripping file suffix for Spring resources"
The `getBaseName()` method at `SpringTemplateResource` is not removing the suffix (e.g. `file.html` -> `file`) properly. This seems to be due to `resource.getFilename()` being used as a base path for computing the base name, and the fact that the result of this method does not contain any `/` chars, which fouls the current implementation of `getBaseName()`.

[2016-02-16 23:46] #99 closed

[2016-02-17 00:56] danielfernandez commented on #99
Already in `3.0.0-SNAPSHOT`

[2016-02-20 04:18] ultraq opened #100 "Update XML resource files used for IDE integration"
Same as https://github.com/thymeleaf/thymeleaf/issues/454, but for the Spring projects.

[2016-02-20 04:19] #100 closed

[2016-03-13 14:52] mmoayyed opened #101 "Wrong documentation on ThymeleafView"
Docs indicate:

[code]

which is of course not possible in 2.1.4 and wrong. The ctor is marked as protected.

See http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html

[2016-03-13 14:55] mmoayyed opened #102 "Existing view beans are never picked up."
I have the following:

[code]

If I attempt to route the flow to `responseView`, the resolver never picks up my existing bean. It always wants to set the template name to the view name passed which is `responseView`, rather than using the existing bean to pick up the configured template name.

This is in 2.1.4, latest of Spring 4.

[2016-03-13 14:57] mmoayyed commented on #102
In the resolver:

[code]

[2016-03-23 12:56] kazuki43zoo opened #103 "First new line character is removed when use <textarea th:field="...">"
When first character of input value is new line character, `<textarea th:field="...">` is output the HTML as follow:

[code]

e.g.) input value at textarea is `"<CRLF>input value"`

[code]

When render the above HTML on Web Browser(Chrome, Firefox, Safari, IE ...), first new line character is removed from User Interface.
On an Web Browser,`"<CRLF>input value"` is render same with `"input value"` (

[2016-03-31 04:45] sluramod opened #105 "Add th:object to TEXT template mode"
SpringObjectTagProcessor works only in HTML mode. org.thymeleaf.spring4.expression.Fields does not work in TEXT mode because it is not possible to bind object using th:object.

It's very small change, but very useful IMO.

[2016-04-16 23:10] danielfernandez commented on #101
You mean the _setter_? It's public... https://github.com/thymeleaf/thymeleaf-spring/blob/2.1-master/thymeleaf-spring4/src/main/java/org/thymeleaf/spring4/view/AbstractThymeleafView.java#L383-L390

[2016-04-16 23:55] danielfernandez commented on #105
This is made on purpose. There is `th:object` in `TEXT` template mode, but as you say it is the version of `th:object` that simply selects an object and allows `*{...}` expressions to be executed, it does not enable Spring form binding.

The reason for this is that `th:field` make no sense in `TEXT` mode. `th:field` is an HTML-oriented attribute that acts on the `value`, `name` and `id` fields of

[2016-04-16 23:55] #105 closed

[2016-04-17 00:13] sluramod commented on #105
So maybe you can reconsider, since there are no side effects. Here is my scenario: I found that it's easier for me to use text mode to handle html templates. I use the following template:

`[# th:object="${formObject}"]`
`<form>...`
`<input name="email" value="[[*{email}]]"/></td>`
`[# th:insert="classpath:/views/common/field_error (name='email')" /]`
`</form>`
`[/]`

You are right that I can use

[2016-04-17 00:40] danielfernandez commented on #102
The problem is the `ThymeleafViewResolver` does not look for existing beans with the required name in order to directly use them, but instead only to use them as _prototypes_. That is why the `View` object is always instantiated using `BeanUtils.instantiateClass(...)` even if after that the resolver tries to configure it using an existing _bean definition_ at the `beanFactory.configureBean(...)` c

[2016-04-17 00:40] #102 closed

[2016-04-17 15:53] danielfernandez commented on #103
Fixed in the 2.1 branch by means of #104

[2016-04-17 16:34] danielfernandez commented on #103
References:
- Spring JIRA: SPR-13503 https://jira.spring.io/browse/SPR-13503
- HTML 4.01 spec: line breaks https://www.w3.org/TR/html401/appendix/notes.html#notes-line-breaks
- HTML5 spec: the `textarea` element https://www.w3.org/TR/html5/forms.html#the-textarea-element
- Current Apache Wicket implementation https://github.com/apache/wicket/blob/9329aaea1fbfe2c6f517e53491a6f767b1702932/wicket-cor

[2016-04-17 16:34] #103 closed

[2016-04-17 16:38] danielfernandez commented on #103
Already in `3.0.0-SNAPSHOT`

[2016-04-17 16:39] kazuki43zoo commented on #103
Hi @danielfernandez , Thanks for fix!!

[2016-04-18 16:15] quartzDE opened #106 "SpringTextareaFieldTagProcessor - StringIndexOutOfBoundsException"
processedValue.charAt(x) breaks if processedValue is empty

[2016-04-19 16:32] gigermocas commented on #106
+1 this is currently blocking my upgrade to BETA03

[2016-04-19 22:25] #106 closed

[2016-04-19 22:28] danielfernandez commented on #106
Already fixed in `3.0.0-SNAPSHOT`

[2016-04-24 09:59] mtedone opened #107 "Can't use SpEL with th:object"
Hi, I'm trying to use a constant from a Controller to define the th:object name as with the following code:

`<form id="signupForm" th:action="@{/signup}"
                          th:object="${T(com.devopsbuddy.web.controllers.SignupController).PAYLOAD_MODEL_KEY_NAME}"
                          method="post" class="text-left" enctype="multipart/form-data">`

But I get the following exception:

`j

[2016-04-24 10:04] danielfernandez commented on #107
Spring requires the form-binding object expression to be the name of the specific bean to be bound, not a variable containing it.

If you need to use that constant, you can use Thymeleaf's expression pre-processing by surrounding your constant expression with `__`:

[code]

[2016-04-24 10:04] #107 closed

[2016-04-24 10:07] mtedone commented on #107
Brilliant, that fixed it! Thanks a lot!

[2016-05-10 14:13] abs0 opened #108 "Null field for textarea dies in SpringTextareaFieldTagProcessor"
textarea fails if the th:field is null, while input works fine.

Fails:
`<textarea th:field="${activityData.notes}" rows="5" cols="50" th:maxlength="${limits.notesLength}" class="form-control"/>`

Works:
`<input th:field="${activityData.notes}" rows="5" cols="50" th:maxlength="${limits.notesLength}" class="form-control"/>`

Actual exception was:

`Caused by: org.thymeleaf.exceptions.TemplateProces

[2016-05-10 14:18] danielfernandez commented on #108
This was an issue in BETA03. It should be fixed in 3.0.0.RELEASE, could you please try the new version?

[2016-05-10 14:34] abs0 commented on #108
Many thanks - confirmed fixed. I had only downloaded BETA3 on Friday but forgot to check for a new version.

[2016-05-10 14:34] #108 closed

[2016-05-12 13:20] gseifert opened #109 "Registered custom editor not used for nested property path with double bracket syntax"
Using Thymeleaf 2.1.4, if I register a custom editor for a nested property path such as:
`binder.registerCustomEditor(Date.class, "example.modDt", new CustomDateEditor(dateFormat, true));`
and in my thymeleaf template I use the double bracket syntax with a th:text attribute for example:
`<p data-th-text="*{{example.modDt}}">20160511 12:34:56.789</p>`
it prints using my configured date format in th

[2016-05-27 18:20] berniegp opened #110 "Exception evaluating SpringEL expression: "_csrf.token""
I am trying out Thymeleaf 3 in my Spring Boot (1.3.5) application with Spring Security and getting an exception which did not happen in Thymeleaf 2.1.

My page template has this code:

	<script type="text/javascript" th:inline="javascript">
	app.config({
		csrf: [[ ${_csrf.token} ]],
	});
	</script>

The exception is thrown when a page is requested while the user **has no active session**. When a

[2016-05-27 19:12] berniegp commented on #110
I use this workaround for now:

[code]

with hasSession populated with:

[code]

[2016-05-27 19:32] berniegp commented on #110
When Thymeleaf automatically adds a hidden CSRF input field to a form, there is no problem with creating a session by trying to access the CSRF token value.

I assume this ordering of processors (and pre and posti processors) is by design so as to avoid writing to the http response too soon. I'm still posting some more details in case this case only works by chance rather than by design.

Stack tr

[2016-05-27 19:34] danielfernandez commented on #110
It's not exactly _engine throttling_ that is causing this. Throttling is only used in _reactive_ environments, and Spring Boot isn't one.

However, it has to do with the new architecture: Thymeleaf's new architecture tries to reduce latency to the minimum by producing template output as the template is being processed. So by the time it reaches your `<script>` tag, output for the part of your temp

[2016-05-27 20:08] berniegp commented on #110
Thank you for the detailed explanation.

Since we posted our comments at about the same time, I'll ask this bit again. Is there a potential problem with the hidden csrf field added to forms? Is everything wired up so the response is not written to before the csrf token value is accessed?

My simple test (login form) shows that it works fine, but I can certainly have missed an error condition.

p.s

[2016-05-27 20:16] berniegp commented on #110
To rephrase my last question, this worries me from https://github.com/thymeleaf/thymeleaf/issues/389

If some output was written to the response (from a previous element block) before the template processor gets to a `<form>` element (to which is appended a hidden csrf field), it seems to me that the same error can occur.

[2016-05-27 20:40] danielfernandez commented on #110
I understand. The basic _repository strategy_ for storing the CSRF token between HTTP requests in Spring Security involves using an `HttpSession`, so in some sense an application using CSRF protection should be already creating sessions for its users/visitors as a security requirement (unless there is a _stateless_ part of the application, like seems to be your case, which in this case will probab

[2016-05-30 16:48] tedwards-rogue opened #111 "Non-disabled checkbox issue with Bootstrap"
After presenting this to the Thymeleaf forum, it seems this may be the appropriate place for this issue.

Although I have found similar issues and solution on the web, I have not find the specific answer to resolve this problem.

A basic Bootstrap overlay of a checkbox requires the input tags to be inside of the labels.

An example would be this:
`<label class="checkbox"><input class="checked-agre

[2016-05-30 18:38] berniegp commented on #110
What could be called the "stateless" part of the application is the login form. I say stateless because it's accessible without a session, but In fact, it's not really stateless since it's protected by CSRF which triggers the creation of a session. Something somewhere has to trigger the first session creation.

In my tests, I found 2 conditions which trigger output flushing which in turn marks the

[2016-05-30 21:03] tedwards-rogue commented on #111
For a quick experiment, I wanted to see what happened if the hidden input was placed before the other input element. I edited the generated HTML by hand with firebug to make it look like this:

[code]

In this situation, the Bootstrap styled checkbox worked successfully (at least in Chrome).

Unfortunately my skills are not at a level where I feel comfortable experimenting with modifying he Spring

[2016-05-30 21:55] danielfernandez commented on #111
Could you please elaborate on the way this Bootstrap overlay works, specifically the javascript/CSS code that selects the `<input>` to work with?

Adding a hidden input to checkboxes is a fairly standard behaviour for server-side form binding (unchecked checkboxes are never sent to the server, so that's the way the server knows the checkbox was **unchecked** as opposed to **disabled** or simply **

[2016-05-30 22:05] danielfernandez commented on #111
Maybe related to something like flatlogic/awesome-bootstrap-checkbox#14

[2016-05-30 22:17] #110 closed

[2016-05-31 16:20] tedwards-rogue commented on #111
Daniel, thanks for your input. When I did some original research I did stumble upon the link you submitted above. This time around I reviewed it a little deeper.

The first comment I should make is that this is not a Bootstrap related issue. Bootstrap uses the browser/OS standard checkboxes. In researching for this issue, I discovered that the CSS in questions is in the theme I have purchased (sha

[2016-05-31 17:13] tedwards-rogue commented on #111
Created an example at https://codepen.io/tledwar/pen/ZOYWvr

This shows that adding a hidden field causes a styled checkbox to not display correctly. Of course this is probably a CSS issue more than anything but I am hopeful we can come up with an example which works for Thymeleaf.

Please note that this example is more in line with the flatlogic/awesome-bootstrap-checkbox#14 example previously gi

[2016-05-31 22:15] danielfernandez commented on #111
In your codepen, replacing all the `+` combinators with `~` makes it work OK. Would that be an issue for you?

In flatlogic/awesome-bootstrap-checkbox#1 they mention compatibility issues in mobile devices as a reason for sticking to `+` in favour of `~`, but looking at the mozilla pages they link this seems to have improved a lot since 2014…

[2016-05-31 23:14] tedwards-rogue commented on #111
I had tried that earlier in my actual code, but I went back to codepen and sure enough it worked. But that is raw HTML and not Thymeleaf, so I went ahead and changed my example code.

To match up with the working codepen, the input needs to be before the label. So...
`<div>
    <input th:field="*{terms}" class="checked-agree" type="checkbox" name="checkbox" />
    <label th:for="${#ids.next('terms

[2016-06-01 21:41] danielfernandez commented on #111
If now your label is being processed _after_ the `<input>` to which the id is assigned, you should not be using `#ids.next()`, but instead `#ids.prev()`.

[2016-06-02 15:07] tedwards-rogue commented on #111
That would make complete sense! Thank you for help in researching this topic.

[2016-06-02 15:07] #111 closed

[2016-06-02 21:25] danielfernandez commented on #109
Confirmed and fixed.

Actually, after evaluating this carefully I noticed something interesting: the fact that we were checking property paths incorrectly here made Thymeleaf return the same results as Spring's own `<s:eval>` JSP tag, which makes use of the `ConversionService` but does not ask at all for any form-bound-object `PropertyEditor`s.

So my first reaction to this was _"nah, this is fine

[2016-06-02 21:25] #109 closed

[2016-06-02 21:25] danielfernandez commented on #109
Already in `2.1.5-SNAPSHOT`

[2016-06-02 21:26] danielfernandez opened #112 "PORT: Registered custom editor not used for nested property path with double bracket syntax"
PORT of #109 for Thymeleaf 3.0.

Original description:

------
Using Thymeleaf 2.1.4, if I register a custom editor for a nested property path such as:
`binder.registerCustomEditor(Date.class, "example.modDt", new CustomDateEditor(dateFormat, true));`
and in my thymeleaf template I use the double bracket syntax with a th:text attribute for example:
`<p data-th-text="*{{example.modDt}}">20160511 12

[2016-06-02 21:31] #112 closed

[2016-06-02 21:37] danielfernandez commented on #112
Already in `3.0.1-SNAPSHOT`

[2016-06-25 13:38] sobemurray commented on #24
Is it possible to achieve this via a Dialect?

[2016-07-02 16:06] dtrunk90 opened #113 "Streamlined execution flow and exceptions at view layer"
Streamlined execution flow causes a partially rendered template containing the error page with HTTP status code 200 on exceptions at view layer. This behavior is nonsatisfying for such a common use-case.

The servlet dispatcher should forward to the error page with HTTP status code 500 as it was the case in Thymeleaf < 3 already.

Based on the discussion [here](http://forum.thymeleaf.org/Thymeleaf

[2016-07-04 09:34] michaelhaessig commented on #113
I stumbled across the same issue.  as @dtrunk90 said , there needs to be a cleaner solution for this problem..

[2016-07-04 22:44] danielfernandez commented on #24
@sobemurray it is possible if you create a dialect that implements `IExecutionAttributeDialect`. The specific SpEL expression parser and evaluator are specified as _execution attributes_, so you can overload these with your own instances. See how they are defined at the Standard dialects here: https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/java/org/thymeleaf/standard/StandardDiale

[2016-07-05 02:54] steelow opened #114 "Thymeleaf would not resolve quotes or &rsquo; from a spring model attribute"
How do I get thymeleaf to resolve my model attribute?

I would like to make the default input value out of `${title} = "Wayne&rsquo;s World"` model property coming from the controller,

I have the following:

`<th:block th:include="row::row(attrs='value=\'__${title}__\', minLength=\'.{1, 16}\', required=true, title=\'starts with an alphabet 1 and 64\', placeholder=\'Movie title\'')" />`

It just s

[2016-07-05 14:37] sobemurray commented on #24
IExecutionAttributeDialect is available on 3.0. How is this possible in a 2.x implementation?

[2016-07-05 16:02] JstMagic opened #115 "Exception evaluating SpringEL expression"
I received the error below when i added crf token to my login page

_`**Exception evaluating SpringEL expression: "csrf.parameterName"**`_

**Console error**

[code]

**Code**
_`<input type="hidden" th:name="${ _csrf.parameterName }" th:value="${_csrf.token }" />`_

- The weird issue happens when I logout and then try to login again in my application using the path "/logout" and "/login"

- When i

[2016-07-05 20:47] danielfernandez commented on #115
Sorry, I cannot understand your issue here... you say you _downgraded_ from `3.0.0.BETA02`, which is a _beta_ version, to `3.0.0.RELEASE`, which is the stable (i.e. non-beta) version? Is this corrrect? If so, how can this be a _downgrade_?

Your issue looks quite a lot like something we fixed between BETA02 and BETA03... so it makes sense it works alright in the stable version…

[2016-07-05 21:12] danielfernandez commented on #24
@sobemurray equivalent mechanism, only in 2.1 it ilved in the `IDialect` interface itself: https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-2.1.4.RELEASE/src/main/java/org/thymeleaf/dialect/IDialect.java#L108-L121

[2016-07-05 21:55] danielfernandez commented on #113
A more general solution to this would be to move the call to the template engine object at the end of `ThymeleafView#renderFragment(...)` to a separate method that could be more easily overridden by users' extensions of `ThymeleafView`.

This would allow users to configure the way the template engine is actually called (after all the parameters have been resolved and computed), and even apply any

[2016-07-05 22:11] danielfernandez commented on #114
How is that `attrs` fragment attribute being used inside the `row :: row` fragment? Depending on that (e.g. whether you are using `th:text`, `th:utext`, and inlined expression…) Thymeleaf will apply HTML escaping or not to your large text literal value.

I'm not sure anyway if what you are expecting and/or obtaining at the HTML level (not the browser display level) is `Wayne&rsquo;s World` (which

[2016-07-06 13:51] steelow commented on #114
Here is the `${attrs}` usage in my `row::row` fragment
`<input th:if="${attrs}" th:attr="__${attrs}__" />`

By the way, `${title}` goes into the html input value attribute.

[2016-07-06 21:12] danielfernandez commented on #114
Could you please clarify:
- What exactly you are obtaining in your HTML (not what your browser displays, but what you obtain at your HTML code).
- What exactly you were expecting instead.
- What is exactly the value of the `title` context variable.

[2016-07-06 23:03] steelow commented on #114
The html contains `&rsquo;`
I expect an apostrophe to be displayed whether the html using the `&rsquo;` code or `'`.
When `${title}` contains either `Wayne's World` or `Wayne\'s World`, Thymeleaf throws a parsing exception.
When `${title}` contains `Wayne&rsquo;s World`, Thymeleaf outputs it as is.

[2016-07-08 18:08] steelow commented on #114
I suppose that this may not be possible with thymeleaf. Most likely a bug. Any decent template should be able to reproduce a valid model attribute without throwing parsing exceptions even if  that attribute contains an apostrophe or whatever else. Thymeleaf claims to be able to do this but throws parsing exception for `${title} = Wayne's World`. Sad indeed!

[2016-07-08 19:37] danielfernandez commented on #114
:smile:

Because in the first case this is **invalid** syntax:

[code]

And in the second case this is _valid_ syntax:

[code]

...but then it results in this, which is **invalid** syntax too:

[code]

So it works as expected.

[2016-07-08 19:37] #114 closed

[2016-07-08 19:51] steelow commented on #114
I think you have misunderstood. Here is the situation:

`${title} = "Wayne's World"`

`<th:block th:include="row::row(attrs='value=\'__${title}__\', minLength=\'.{1, 16}\', required=true, title=\'starts with an alphabet 1 and 64\', placeholder=\'Movie title\'')" />`

`row::row` fragment is as follows:

`<th:block th:fragment="row">
    <input th:if="${attrs}" th:attr="__${attrs}__" />
</th:block>`

[2016-07-08 19:53] danielfernandez commented on #114
Again:

[code]

So:

[code]

Which is a syntax error. You are closing the literal after "Wayne".

[2016-07-08 20:03] steelow commented on #114
What is the meaning of your response?

[2016-07-08 20:14] danielfernandez commented on #114
Here:

[code]

You are applying _expression pre-processing_ with `__${title}__`. That means that **before** the value of `th:include` is evaluated as a Standard Thymeleaf expression, the `${title}` expression will be evaluated as an expression apart and its result will be literally used for replacing `__${title}__`.

So if  `${title}` has the value `Wayne's World`, your `<th:block>`'s `th:include`

[2016-07-08 20:34] steelow commented on #114
I knew that the engine was doing this. Which is why I was asking if there is a way to still display the `${title}` containing `'`. The reason this case is so crucial is that `${title}` is indeed a user input which was supposed to be re-rendered from the model back to the user as a default input value. Should users be instructed not to input certain characters because thymeleaf engine would not be

[2016-07-08 21:27] danielfernandez commented on #114
Sorry, I might have misunderstood your _"Any decent template should be able to reproduce a valid model attribute without throwing parsing exceptions even if that attribute contains an apostrophe or whatever else. Thymeleaf claims to be able to do this but throws parsing exception for `${title} = Wayne's World`. Sad indeed!"_

It didn't look to me as if you were understanding that your code was act

[2016-07-08 22:49] steelow commented on #114
I did not intend to be belligerent nor sarcastic. My sympathies - if you felt that I were. For over a week, I have tried anything and everything to resolve this issue to no avail in. Folks at stackoverflow could not help either. In my many years in this business, I have never encountered a template engine that could not handle this use-case. I am simply voicing my frustration that this state of th

[2016-07-08 22:58] danielfernandez commented on #114
There would be ways to use this approach anyway. However, you can still stick to your `th:attr` and `attrs` parameter. Only do not use pre-processing:

[code]

The code above will cause no issues at all with escaping the value of your `title`.

Then you can still use:

[code]

...and the equivalent result will be, still without any literal-escaping issues:

[code]

That should do.

As a side note:

[2016-07-14 14:37] hiddewie opened #116 "NoSuchMethodError when creating TemplateEngine (com.fasterxml.jackson.databind.ObjectMapper.disable(...))"
I have a problem using Spring 4, together with Tymeleaf 3.0.0 and Thymleaf-Spring.

When loading a new Template engine, a `SpringStandardDialect` is created, which in turn creates a `StandardDialect`. This object creates a Javascript serializer (`new StandardJavaScriptSerializer(true)`) which uses the `true` argument to use the Jackson serialization classes, if possible.

The Jackson library has b

[2016-07-19 23:50] danielfernandez commented on #116
Please note 1.8.0 is a quite old version of Jackson. Thymeleaf will need at least version 2.5.0, and it should perfectly initialise in these cases (the method you cite was actually added in that specific version).

I've also added thymeleaf/thymeleaf#520 in order to improve error reporting in this kind of scenario.

[2016-07-19 23:50] #116 closed

[2016-07-19 23:51] #115 closed

[2016-07-19 23:52] #101 closed

[2016-07-20 07:19] hiddewie commented on #116
Thank you, that clears things up.

It might be the default JBoss libraries that are included in my deployment.

[2016-08-07 03:48] eraldopaes opened #117 "Spring + thymeleaf"
`<section layout:fragment="conteudo">
    <form class="form-horizontal" method="post" action="/titulos" th:object="${titulo}">

        <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
            <span th:text="${mensagem}">Título cadastrado com sucesso.</span>
        </div>

        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <div th:ea

[2016-08-07 19:53] danielfernandez commented on #117
Most probably you are trying to access in one of your expressions a property in a variable that is `null`. For example:

[code]

This will provoke a `NullPointerException` if `status` is actually null.

However, in order to better diagnose this, please have a look at the rest of the exception trace. Your `NullPointerException` should include more information (class throwing the exception, line, co

[2016-08-15 06:03] xiangyang2516 opened #118 "configure multiple templateResovler,Is always the first to take effect?"
@Bean
    public TemplateEngine templateEngine() {
        SpringTemplateEngine engine = new SpringTemplateEngine();
        engine.addTemplateResolver(this.fileTemplateResolver());
        engine.addTemplateResolver(this.classLoaderTemplateResolve());
        engine.addDialect(new Java8TimeDialect());
        return engine;
    }
  private ITemplateResolver fileTemplateResolver() {
        FileTe

[2016-08-15 06:08] xiangyang2516 commented on #118
.....

[2016-08-17 01:59] TTJeremy opened #119 "Does thymeleaf 3.0 surpport spring3?"
I am a thymeleaf 2 user. Today I want to change to thymeleaf 3 + spring 3 + springMVC 3 . But a error occurred when the web server is starting.

The error message is as follows:

exception

javax.servlet.ServletException: Servlet.init() for servlet SpringMVC threw exception
	org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:505)
	org.apache.catalina.valves.ErrorRepo

[2016-08-17 20:26] danielfernandez commented on #119
Thymeleaf 3 does support Spring 3, and the `thymeleaf-spring3` package does contain the `org.thymeleaf.spring3.SpringTemplateEngine` class.

Could you please verify that `thymeleaf-spring3` is in your classpath? and if you are positive that it is… could you please check if there is any other nested exception? (sometimes `NoClassDefFoundError` is due to a class not being correctly initialised for s

[2016-08-17 22:32] danielfernandez commented on #118
Please note there is a `resolvablePatterns` property which is the one to determine (by means of patterns that can have a `*` wildcard) whether a template resolver will consider a view name to be resolved by it or not.

Also, since 3.0 there is a `checkExistence` property which allows the template resolver to actually perform a check on the physical existence of the resource as a way to determine w

[2016-08-17 22:32] #118 closed

[2016-08-17 22:33] #117 closed

[2016-09-16 21:27] #119 closed

[2016-09-20 23:36] danielfernandez opened #120 "ThymeleafView has non-public constructors"
The `ThymeleafView` class (both for Spring 3 and Spring 4) has protected constructors, which forbids its instantiation and therefore its specific (isolated) configuration as explained in the tutorials.

[2016-09-20 23:38] danielfernandez commented on #120
This is actually the real cause of #101 (not the setter)

[2016-09-20 23:40] #120 closed

[2016-09-20 23:40] danielfernandez commented on #120
Already in `3.0.2-SNAPSHOT`

[2016-09-23 20:59] danielfernandez opened #121 "ThymeleafViewResolver cannot make proper use of prototype view beans"
The current `ThymeleafViewResolver` implementations check for beans in the application context with the bean name specified as `viewName`, but only in order to use their property definitions and apply them on top of a newly created `ThymeleafView` instance.

So these beans are being used as *definitions*, not as *prototypes*.

The issue with this is twofold:
  * Beans with scope `prototype` are no

[2016-09-23 21:00] #121 closed

[2016-09-23 21:04] danielfernandez commented on #121
Already in `3.0.2-SNAPSHOT`

[2016-11-19 17:21] danielfernandez opened #122 "Update doc links in the Spring-Standard-Dialect.xml definition files"
The `Spring-Standard-Dialect.xml` files used for IDE metadata still link all the dialect attributes to the Thymeleaf 2.1-version of the tutorials.

@ultraq could you take care of this please?

[2016-11-20 08:48] #122 closed

[2016-12-06 11:00] maxxyme opened #124 "Spring-Standard-Dialect.xml links to tutorials/2.1 instead of 3.0"
In this file: https://github.com/thymeleaf/thymeleaf-spring/blob/3.0-master/thymeleaf-spring4/src/main/resources/org/thymeleaf/xml/thymeleaf-spring4/Spring-Standard-Dialect.xml

the links found point to http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html instead of http://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html

[2016-12-06 11:05] ultraq commented on #124
Just like the other issue you opened against another repo, there's a version of these files in the `3.0-dev` branch that have the updated URLs, but haven't yet been merged to master.  They should be before the next release.

[2016-12-06 11:05] #124 closed

[2016-12-06 11:17] maxxyme commented on #124
OK, I should've check the dev branch too. Sorry for that.

[2017-01-15 00:54] danielfernandez opened #125 "Evaluate startup times in SpringTemplateEngine"
Judging by spring-projects/spring-boot#7591, it seems that it might be a good idea to have a look at the startup times of the `SpringTemplateEngine`, esp. `SpringStandardDialect`, and see if the profiler finds anything that might be taking too long during startup.

Esp. I would have a look at the static initialisers in `Mvc`, `SPELVariableExpressionEvaluator` and `SpringStandardExpressionObjectFac

[2017-01-16 23:20] #125 closed

[2017-01-16 23:27] danielfernandez commented on #125
Already in `3.0.4-SNAPSHOT`

[2017-01-20 01:22] nagaifelze opened #126 "How to display form errors without using th:object"
I am getting below error :
[code]
Why should I always use ModelAtrribute and th:object to display form errors. I want to simply use submit the form and get request parameters and add and display if there are any form errors. I dont want to create any object to hold the form data.

[2017-01-22 13:59] danielfernandez commented on #126
The concept of form binding and how it relates to error handing is part of the Spring architecture, not Thymeleaf's. Thymeleaf simply gives you access to all of that.

Spring will create `BindingResult` objects in the model for each object in it involved in form binding, and Thymeleaf will let you access these `BindingResult` objects after submission in order to check if there are any associated e

[2017-01-22 13:59] #126 closed

[2017-01-26 01:16] k--kato opened #127 "How can I get ApplicationContext from IExpressionContext?"
* version:
  * thymeleaf-3.0.3.RELEASE
  * thymeleaf-spring4-3.0.3.RELEASE
  * org.springframework:spring-webmvc-4.3.3.RELEASE

I'd like to implement `IExpressionObjectDialect` and get Spring `ApplicationContext` from `IExpressionContext`.

I already tried `org.thymeleaf.spring4.context.SpringContextUtils`, but it failed to cast `ThymeleafEvaluationContextWrapper` to `ThymeleafEvaluationContext` e

[2017-02-01 14:19] SnakeSVx opened #128 "Spring formatter not called in alle cases anymore after upgrade to thymeleaf 3"
After switching to thymeleaf 3 we have some cases where the formatter is not called anymore when using *{{expression}}.

Before on thymeleaf 2 the same code worked without any problems.

While trying to find out where the problem was coming from, I noticed that the "BindStatus.editor" field is null on line 165 of org.thymeleaf.spring4.expression.SPELVariableExpressionEvaluator.

As the editor is n

[2017-02-01 14:31] danielfernandez commented on #128
Could you please confirm what specific version of Thymeleaf 3 you are using? is it `3.0.3.RELEASE`?

Given your expression is a selection expression (`*{{...}}`), and therefore your property is nested, you might be suffering from #112, fixed in Thymeleaf 2.1.5 and 3.0.1.

Also, the line you specify actually determines if the property in the expression is relative to a form-bound object... is your

[2017-02-01 14:52] SnakeSVx commented on #128
We are using Thymeleaf 3, version 3.0.3.RELEASE.
As usage we have 2 cases that seems to fail using the same object.
1. Without form, but using th:object: <div th:object="${object}><span th:text="*{{property}}">default</span> .... </div>
2. With a form and th:object < form th:object="${object}">< p class="readonly_field" th:text="*{{property}}">readonly< /p> .... < /form>

The property itself is de

[2017-02-02 07:47] SnakeSVx commented on #128
More test results:
Without using th:object and the *{{ }} notation it seems to still work without a problem.
So doing `<p th:text="${{object.property}}">...</p>`, the correct formatter is called, in that case it skips the entire block the code on line 165 is in and continues to line 277
[code]

In Thymeleaf 2.1.5:

It never reaches SpelVariableExpressionEvaluator for evaluating the expression.

[2017-02-03 23:52] danielfernandez opened #129 "Improve behaviour of SpringContextUtils"
The current implementation of `SpringContextUtils` makes the assumption that the `IThymeleafEvaluationContext` object set into the context as variable `ThymeleafEvaluationContext.THYMELEAF_EVALUATION_CONTEXT_CONTEXT_VARIABLE_NAME` is of class `ThymeleafEvaluationContext`.

But it could also be a `ThymeleafEvaluationContextWrapper` if a ThymeleafEvaluationContext was not set into the context by, fo

[2017-02-03 23:54] #129 closed

[2017-02-03 23:58] danielfernandez commented on #129
Already in `3.0.4-SNAPSHOT`

[2017-02-04 00:40] danielfernandez commented on #127
As you describe, there was an incorrect behaviour at `SpringContextUtils`, which assumed the Thymeleaf Evaluation Context to be of class `ThymeleafEvaluationContext` but didn't take into account the possibility that it could be a wrapper.

The `ThymeleafEvaluationContext` object is created and set into the Thymeleaf context by `ThymeleafView` and `ThymeleafReactiveView` at Spring view rendering ti

[2017-02-04 00:40] #127 closed

[2017-02-04 13:21] danielfernandez commented on #128
I'm trying to verify this mirroring your scenario in which the *containing* bean has a property of a superclass, the objects in that property are of a subclass, and the `Formatter` is applied to the subclass only…

But right now I'm seeing exactly the same behaviour in Thymeleaf 2.1.5 and 3.0.3. Only when the field in the containing bean is declared to be of the subclass (the exact one that has th

[2017-02-04 15:59] danielfernandez commented on #128
I'm still unable to replicate the difference in behaviour you report, I'm afraid.

I've just created a test repository that should allow us better determine the cause of what you are experiencing. Please find it here: https://github.com/danielfernandez/test-nested-springel-conversion

As explained in the README, it contains two applications (actually the same one, but with Thymeleaf 2.1.5 and 3.0.

[2017-02-04 22:20] danielfernandez commented on #128
Note tests referenced above were wrongly linked to this ticket. They were actually for thymeleaf/thymeleaf#570

[2017-02-06 08:23] SnakeSVx commented on #128
I'll see what I can do to reproduce it using the testcases above.
I'll also start checking some of our other configuration to see if anything changed in any other area that might be related to this issue.

[2017-02-06 09:50] SnakeSVx commented on #128
Haven't been able to reproduce the current situation we have with thymeleaf 2 yet, so it must be something we have that is configuring something that works in thymeleaf 2 but not thymeleaf 3.

On the other hand, I have found a small workaround, that "fixes" the issue on both thymeleaf 2 and thymeleaf 3 in our case. One thing I noticed as a different is that we are using fragments to generate the "

[2017-02-14 16:13] ptahchiev opened #130 "Engine with multiple template resolvers fails to resolve template"
Hello,

with Thymeleaf2 and Spring4 I was able to have a templateEngine and define several template resolvers to it:
[code]
and the flow was going like this:
1) it tries to find the template from the TemplateRepository:

https://github.com/thymeleaf/thymeleaf/blob/2.1-old-dev/src/main/java/org/thymeleaf/TemplateEngine.java#L1192

2) inside that `TemplateRepository` it loops over all registered tem

[2017-02-14 22:04] danielfernandez commented on #130
This is expected behaviour in Thymeleaf 3.

In Thymeleaf 2.1, the way template resolvers behaved when they were asked to resolve a resource that didn't exist was not directly predictable and depended on the specific implementation of the resolver. So simply chaining resolvers without using the `resolvablePatterns` property in these resolvers to determine which templates could be resolved by each s

[2017-02-14 22:04] #130 closed

[2017-02-18 19:39] danielfernandez commented on #128
Any news on this?

As for why `<span th:text="*{{''+__${field}__}}">` does indeed apply the converter even when the field is abstract (which is what I observe), this is due to the fact that `'' + fieldAbs` does not have a registered `BindStatus` (it's not a valid field name), whereas `fieldAbs` does have one because it is a valid field name. In the case where no `BindStatus` is registered the type

[2017-02-21 10:44] Dazzel opened #131 "Bean name resolution"
You got this classes:

Interface:
`public interface ExampleService {}`

Implementing class:
`
@Service
public class ExampleServiceImpl implements ExampleService {}`

Usage in Spring:
`@Resource private ExampleService exService;`

Given the usage in Spring one would suspect that you'll use the bean the same way in Thymeleaf, by its interface name: `${@exampleService.}` but you have to use it by the

[2017-02-28 13:06] danielfernandez commented on #131
Thymeleaf does not name Spring beans, nor has any influence on their naming or how they are accessed. That is entirely Spring's responsibility, so there is no difference in how your beans would be accessed by name using Thymeleaf or not using it.

All Thymeleaf does is to simply execute SpEL (Spring EL) expressions, and it's Spring's EL engine who is in charge of performing all bean accessing. Thy

[2017-02-28 13:06] #131 closed

[2017-03-10 23:36] danielfernandez commented on #128
Closing this for now as *non reproducible*. Please don't hesitate to reopen it in the future if you are able to reproduce it.

[2017-03-10 23:36] #128 closed

[2017-03-27 21:56] danielfernandez opened #132 "Support for Spring 5 WebFlux"
With the upcoming of Spring 5's [web reactive framework](http://docs.spring.io/spring-framework/docs/5.0.0.M5/spring-framework-reference/html/web-reactive.html) **Spring WebFlux** (or *Spring Web Reactive*), Thymeleaf can be adapted in order to provide in the `thymeleaf-spring5` module an implementation of the new interfaces for `View` and `ViewResolver`.

The aim of such Thymeleaf integration wit

[2017-03-27 22:13] danielfernandez commented on #132
This has been implemented by means of the following new packages and classes:

   * `org.thymeleaf.spring5.SpringWebFluxTemplateEngine` and its interface `ISpringWebFluxTemplateEngine`, implementation of `ITemplateEngine` specifically prepared for integrating Thymeleaf into Spring WebFlux so that the latter can make use of Thymeleaf's *reactive-friendly* execution modes.
   * `org.thymeleaf.spring

[2017-03-27 22:13] #132 closed

[2017-03-27 22:16] danielfernandez commented on #132
Pointer to Spring Boot 2.0's needed configuration refactoring for Thymeleaf's new reactive capabilities: spring-projects/spring-boot#8124

[2017-03-27 22:25] danielfernandez opened #133 "Support Server-Sent Events (SSE) in reactive data-driven mode"
By extending the data-driven mode already existing for Spring 5 (#132) Thymeleaf can support the rendering of Server-Sent Events (content type `text/event-stream`) that directly send HTML to the browser (instead of the more common JSON).

In scenarios in which the JSON sent by means of SSE is parsed and then used to render fragments of HTML (DOM) by means of a client-side template engine, Thymelea

[2017-03-27 22:26] danielfernandez commented on #133
Example template (no SSE specifics needed):
[code]
Example result (`head` generated and pushed to browser first, `message`events generated and pushed to browser as items are published by the `Flux<?>`, `tail` generated after `Flux<?>` signals *complete*):
[code]

Example very simple JavaScript code making use of this by means of `EventSource`. Note only `message` events are considered (`head` and

[2017-03-27 22:32] danielfernandez commented on #133
Support for the `text/event-stream` content type has been implemented into the `thymeleaf-spring5` package. This content type is now considered *supported* by the `ThymeleafReactiveViewResolver`.

The *reactive data-driver* variable being used for SSE rendering needs to implement the `org.thymeleaf.spring5.context.webflux.IReactiveSSEDataDriverContextVariable` interface, which the already-existing

[2017-03-27 22:32] #133 closed

[2017-03-27 22:33] danielfernandez commented on #133
A *sandbox* application has been implemented for this scenario here: https://github.com/thymeleaf/thymeleafsandbox-sse-webflux

[2017-03-27 22:45] danielfernandez commented on #132
Published as a part of version `3.0.3.M1` of `thymeleaf-spring5`

[2017-03-27 22:45] danielfernandez commented on #133
Already in `3.0.4-SNAPSHOT`

[2017-03-29 04:06] LeonardoRamos opened #134 "Thymeleaf 3.0.3 and Spring Boot 1.2.6"
Hello, is there a way to use the newest version of Thymeleaf (3.0.4) along with Spring Boot 1.2.6?
If so, is there any workaround I should do to accomplish this?

Thank you!

[2017-03-29 09:31] ultraq commented on #134
The latest Spring Boot docs have instructions for using Thymeleaf 3, so have you tried those to see if they work even if they're not Spring Boot 1.2.6 specific? http://docs.spring.io/spring-boot/docs/1.5.2.RELEASE/reference/htmlsingle/#howto-use-thymeleaf-3

[2017-03-30 12:49] LeonardoRamos commented on #134
Hi, I was able to successfully use the latest version with Spring Boot 1.2.6 following these instructions: https://gist.github.com/seanhinkley/6eab2130ceea857c160b
Everything works fine!
Thanks for the response!

[2017-03-30 12:49] #134 closed

[2017-03-30 15:54] lizhiyuan09 opened #135 "fragment reference with expressions"
i define a fragment,and reference it with expressions,but en exception happens.
common.html
[code]
a piece in index.html
[code]

console:
`Error resolving fragment: "${tName}": template or fragment could not be resolved `

[2017-03-30 21:16] danielfernandez commented on #135
Please note this code is invalid:
[code]
I don't know what version of Thymeleaf you are using, but 2.1 would not parse this unless you are using the `LEGACYHTML5` template mode (which will autobalance your tags and autocorrect this type of code in not-entirely-predictable manners). In Thymeleaf 3.0 the HTML spec will apply and the `th:replace` attribute will have value `${tName}`, and then two oth

[2017-04-06 21:35] danielfernandez opened #136 "Matching of TemplateResolvers by content/media type"
In order to ease setups in which people create different template resolvers for different types of files (HTML, JS, CSS) so that they are resolved with a different `TemplateMode`, it would probably be a nice idea to allow matching to be performed on the *content-type* (*media type* in Spring 5), so that `viewNames` or `checkExistence` are not needed, and the configuration is much cleaner.

Another

[2017-04-08 15:04] xiaoxing598 opened #137 "[THYMELEAF][restartedMain] Template Mode 'HTML5' is deprecated. Using Template Mode 'HTML' instead."
When the project configuration is as follows, the above warning is caused:

[code]

After the prompt is modified, a warning message is found.

[code]

Although this problem is solved, but I found some other problems. Do I think the default value of "MODEL" needs to be fixed?

[code]

After editing the above, the editor will appear alarm.

![wx20170408-230408](https://cloud.githubusercontent.com/as

[2017-04-09 00:34] danielfernandez commented on #137
That warning is expected behaviour. Current stable versions of Spring Boot use Thymeleaf 2.1 by default, which has a template method called `HTML5`, and so it is configured by default at the Spring Boot autoconfiguration artifacts.

But apparently you have updated the version of Thymeleaf to be used by Spring Boot to Thymeleaf 3.0 (which is fine, and supported), and in such case the template mode

[2017-04-09 00:34] #137 closed

[2017-04-10 13:13] lizhiyuan09 commented on #135
it works,thanks

[2017-04-10 13:13] #135 closed

[2017-05-02 21:45] danielfernandez opened #138 "Negotiation of ContentType at the ViewResolver"
Related to thymeleaf/thymeleaf#605, thymeleaf/thymeleaf#606 and thymeleaf/thymeleaf#607, it seems a good idea to make the `Content-Type` established by the `ThymeleafView` (both in reactive and non-reactive versions) not completely *strict*, i.e. make the configured values work as *defaults* but allow a certain degree of automatic resolution of the Content-Type, based on the information that is av

[2017-05-02 21:50] danielfernandez opened #139 "Modify ViewResolver auto-ContenType mechanism to make use of template resolution"
The *automatic content type resolution* mechanism introduced in #138 should be modified in Thymeleaf 3.1 after the implementation of thymeleaf/thymeleaf#608, so that it makes use not of file extensions in view names, but rather (or additionally, or alternatively) of the separate *template resolution phase* that should be made possible in 3.1

[2017-05-02 21:51] danielfernandez commented on #136
Declined in favour of a more flexible implementation provided by thymeleaf/thymeleaf#605, thymeleaf/thymeleaf#606, thymeleaf/thymeleaf#607 and #138

[2017-05-02 21:51] #136 closed

[2017-05-03 01:04] danielfernandez commented on #139
Decline reason: The ContentType autocomputation mechanism should be based on the HTTP request and not the view name or the resolved template name.

Using the request (file extension in path and `Accept` header, in this order) is precisely what the Spring 5 content negotiation mechanism does.

Template Mode should be completely independent from this and the responsibility of the template resolvers.

[2017-05-03 01:04] #139 closed

[2017-05-03 01:17] #138 closed

[2017-05-03 01:18] danielfernandez commented on #138
Already in `3.0.6-SNAPSHOT`

[2017-05-06 23:25] danielfernandez opened #140 "Evaluate removing ReactiveLazyContextVariable"
Given this implementation blocks (there is actually no other way to handle this from inside the template execution process), its mere existence might be misleading to some users.

They may gain the fact that the values are not *retrieved* if they are not really used, but in turn they will have thymeleaf *blocking* threads in order to obtain those values, which is an important disadvantage when com

[2017-05-26 04:45] xmlking opened #141 "Can I use thymeleaf with webflux.fn?"
can't find any examples or documentation on how to use #webflux.fn with model and #thymeleaf
Is it possible to use thymeleaf with spring 5 webflux functional style routers ?

[2017-05-29 21:08] danielfernandez commented on #141
Sure, you can use the `render(...)` method in `ServerResponse.BodyBuilder` for rendering any Spring `View`, including Thymeleaf's.

Your handler method could look for example like:

[code]

There, `"index"` is the name of your template. If this is a Spring Boot application (and you are using the `spring-boot-starter-thymeleaf` starter) it would live as usual in `src/main/resources/templates`.

And

[2017-05-29 21:08] #141 closed

[2017-05-31 01:05] fengyunhe opened #142 "Can you add a default page configuration as a candidate when the correct page is not found?"
Can you add a default page configuration as a candidate when the correct page is not found?

When page is not found ,then console out :

`09:01:52.026 ERROR org.thymeleaf.TemplateEngine 1136 process - [THYMELEAF][http-bio-8888-exec-7] Exception processing template "job/jobList": An error happened during template parsing (template: "ServletContext resource [/WEB-INF/views/hplus/job/jobList.html]")

[2017-06-08 15:41] sushiljic opened #143 "Strange behavior with url path variable and param at once in form th:action"
With anchor tag
`<a class="btn btn-primary" th:href="@{/bill-job/{id}(id=${trigger.triggerKey},action=${#bools.isTrue(trigger.isPaused)?'resume':'pause'})}">Proceed</a>`

Output will be
`http://localhost:8090/bill-job/MonthlyBillingRobot.monthlyChargeTriggerFor24?action=resume`
![image](https://user-images.githubusercontent.com/5524563/26936753-36c64742-4c8f-11e7-80bd-1a074382d7dd.png)

Whereas wi

[2017-06-08 20:56] danielfernandez commented on #143
This is not Thymeleaf-related, but expected browser behaviour, as explained in the HTML5 specification. Form fields (in your case, `_csrf`) override any request parameters included in the query string of the URL specified in the `action` attribute of `<form>`.

[2017-06-08 20:56] #143 closed

[2017-06-08 21:18] danielfernandez commented on #142
If you want to perform insertion of fragments that is conditional on the fact that the fragment template actually exists or not, you can do this using the new syntax for *fragment expressions* in v3.0, combined with configuring your template resolvers for checking *existence* of fragments during resolution: http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#advanced-conditional-inserti

[2017-06-08 21:18] #142 closed

[2017-06-26 15:33] dharrigan opened #144 "Default Locale Not Set - Probably Spring 5 (webflux) issue?"
Hi Daniel,

Discovered this issue with Spring 5 (RC2) with spring-boot-starter-webflux and Thymeleaf 3 (Spring 5 - 3.07-SNAPSHOT). It appears that the default locale is not being set and thus causes Thymeleaf to raise an exception. I'm happy to provide the sample project if required (it's very small and just a controller class referencing a template)

Original Issue raised on Spring Boot: https://

[2017-07-03 12:11] nkolosnjaji opened #145 "LinkExpression stops working in Spring 5 and Thymeleaf 3.0.7"
Hi,

first of all, great work, awesome project!

After this spring [commit](https://github.com/spring-projects/spring-framework/commit/fc3fcf05fd4a84aa06634aebe92b503c7cd4c01e) LinkExpression stopped working

example:
th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"

error:
java.lang.NoSuchMethodError: org.springframework.http.server.reactive.RequestPath.contextPath()Lorg/springframework/http

[2017-07-04 22:28] danielfernandez commented on #145
No changes in Thymeleaf code were really needed, but because of a change in Spring APIs the snapshot required a rebuild. All should be well now. Thanks.

`3.0.7-SNAPSHOT` for `thymeleaf-spring5` is now updated. Please feel free to re-open if you still see any issues with this.

[2017-07-04 22:28] #145 closed

[2017-07-08 00:51] danielfernandez commented on #144
Thanks for the report.

Your sample project gives me errors when executing `gradle`. First because it doesn't include the location of the *milestone* and *snapshot* Spring maven/gradle repositories (needed to download the Gradle Boot plugin). But when I add them to `build.properties`, I get:

[code]

Anyway, I've tried with one of Thymeleaf's own sandbox applications, setting Spring Boot to `2.0.0

[2017-07-08 01:08] kafji opened #146 "NoSuchMethodError in ThymeleafReactiveViewResolver loadView"
Using Spring WebFlux to render HTML template with Thymeleaf produce NoSuchMethodError.

How to reproduce:
With Spring Boot 2.0.0.M2, respond a request with `ServerResponse.ok().render("index")`.
Complete example: https://github.com/kafji/thymeleafnosuchmethod.

Stacktrace:
[code]

[2017-07-08 01:20] danielfernandez commented on #146
Yes, this is known and due to a breaking change in the Spring APIs from Spring Boot `2.0.0.M1` to `2.0.0.M2`. You need to modify the version of Thymeleaf (both `thymeleaf.version` and `thymeleaf-spring5.version`) to `3.0.7-SNAPSHOT`.

[2017-07-08 01:20] #146 closed

[2017-07-08 03:23] wannibar opened #147 "can not direct to the @RequestMapping method by using Intellij Idea."
I really like this template(thymeleaf-spring4), but could i mention a small request, when using IDEA, if I use this code,
`<a th:href="@{/register}">hello</a>`
I have no way to hold down the CTRL key to jump to the corresponding method up.

of course,use this code is OK,`<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>`.

 if someone can add this feature,I will bow to you every da

[2017-07-08 08:43] danielfernandez commented on #147
The Thymeleaf support in InteliiJ IDEA is developed and maintained by JetBrains themselves, the makers of IntelliJ. So I think you should add a ticket there in their support system to get the functionality you want…

[2017-07-08 08:43] #147 closed

[2017-07-08 11:01] bks-abs commented on #147
I'm so foolish:)....and sorry to mention such a problem in the wrong place ^_^

[2017-07-10 18:27] nkramaric opened #148 "Thymeleaf 3.0 - writing template to response stream causes choppy rendering"
I am noticing in my server-side rendering heavy Java Spring application, Thymeleaf 3.0 renders more choppy than 2.0. This was something that was raised in the Thymeleaf forum as well: http://forum.thymeleaf.org/Thymeleaf-3-upgrade-rendering-td4030379.html

I have narrowed down the issue to the fact that Thymeleaf 3.0 writes the template as its generated to the response stream. I have updated the c

[2017-07-12 20:15] danielfernandez opened #149 "ThymeleafReactiveView.renderInternal breaks with more than one ConversionService"
The current code for `ThymeleafReactiveView` obtains the `ConversionService` to be used at the `EvaluationContext` (for SpEL expressions in the view) like:

[code]

However, in some scenarios (like using Spring Cloud Stream, see https://github.com/spring-projects/spring-boot/issues/9727#issuecomment-314617308 ), there might be more than one `ConversionService` in the application context, and there

[2017-07-12 20:16] danielfernandez commented on #149
@gregturn could I know a bit more about this additional `ConversionService` added by Spring Cloud Stream? Am I right in understanding that it should be ignored for the execution of SpEL expressions at the view layer?

If so, it should be as simple as modifying the way in which `ThymeleafReactiveView` obtains this bean, which is by means of `applicationContext.getBeansForType(...)` (this is differe

[2017-07-12 20:45] danielfernandez commented on #149
Apparently there would be two possibilities, judging from the code in `WebFluxConfigurationSupport` at https://github.com/spring-projects/spring-framework/blob/25f3aef1ab7aa2b6832dac637cb9d29a014909d7/spring-webflux/src/main/java/org/springframework/web/reactive/config/WebFluxConfigurationSupport.java#L319-L324

[code]

So either the *byType* request to `ApplicationContext` is narrowed down to `Fo

[2017-07-12 21:45] gregturn commented on #149
Sounds like you have a solution in mind. I can test it when you release a new snapshot.

[2017-07-12 21:56] danielfernandez commented on #148
To be honest, I'm struggling to see how this should be seen as an advantage, and not an issue at the browser side / client code.

Even if Thymeleaf sent all the HTML only once it is ready –and assuming we can forget about the potentially large amounts of server memory this could waste–, there is nothing in this proposed method that would guarantee an *instantaneous* transfer of the HTML to the bro

[2017-07-12 23:51] #149 closed

[2017-07-12 23:57] danielfernandez commented on #149
Already in `3.0.7-SNAPSHOT`

[2017-07-13 04:49] gregturn commented on #149
I just tested it out. Works great! Thanks.

[2017-07-14 10:18] ultraq commented on #148
I don't really have much more to add than what I put in the linked forum thread where I explained why, with Thymeleaf 3, the UI appears to jump with very large HTML pages.

But I am very on the fence about this feature request.  Here's my thinking:

My initial reaction is to direct those those affected by this issue (mostly devs who have worked on Thymeleaf 2.1 web apps that are sending a crazy am

[2017-07-19 22:51] danielfernandez commented on #144
Closing after SPR-15705 has been closed too.

[2017-07-19 22:51] #144 closed

[2017-07-20 07:25] dharrigan commented on #144
Thank you! :-)

[2017-08-02 12:01] yoshikawaa opened #150 "A CSRF token may be given even in GET method."
Using
----
#### Version of Thymeleaf
* thymeleaf-3.0.7.RELEASE
* thymeleaf-spring-3.0.7.RELEASE
#### Environment
* spring-boot-starter-parent-1.5.4.RELEASE

Demo
----
https://github.com/yoshikawaa/demo-thymeleaf-spring-issue150

Problem
----
When assigning `th: action` attribute to `form` element and not adding `method` attribute, a CSRF token is output regardless of get method. As follows.
[code]

[2017-08-12 23:30] danielfernandez commented on #150
This is confirmed. The difference in behaviour with the Spring JSP tag library lies in the fact that, when the `<sf:form>` Spring tag is used with no `action` attribute, `POST` is used by default and added to the resulting `<form>` tag.

Thymeleaf does not create or rewrite the `<form>` tag, so directly reading the `action` value as it is being done now and using `GET` as a default for calling the

[2017-08-14 23:04] #150 closed

[2017-08-14 23:21] danielfernandez commented on #150
Already in  `3.0.8-SNAPSHOT`

[2017-08-15 02:08] djkeh opened #152 "Decoupled logic cannot be tested via Spring MockMvc"
Hi,
I encountered a problem when I tried to decouple the template logic and test using Spring MockMvc. Here's the detail.

##### Environment

  * Version of Thymeleaf: 3.0.7
  * Environment:
    * IDE: Eclipse Oxygen (4.7)
    * Spring: 4.3.10
    * Spring Boot: 1.5.6
    * Twitter Bootstrap: 3.3.7

##### How to reproduce

These are parts of decoupled template code.

[code]

[code]

These codes ab

[2017-08-15 10:28] danielfernandez commented on #152
I lack deep knowledge on how the Spring MockMvc mechanism works… could you please give me more detail on how this is an issue at the Thymeleaf side and not MockMvc itself or the configuration of the Thymeleaf engine performed by the latter?

[2017-08-15 19:14] knoxcorner opened #153 "Add th:uerrors for unformatted error messages"
I am working with a framework where non-ASCII characters, like á, é, í, ó, ú, are represented by their escaped HTML versions, `&aacute;`, `&eacute;`, `&iacute;`, `&oacute;` , `&uacute;`. I am trying to get error messages to display appropriately with these escaped strings, but `th:errors` escapes them a second time anyway. As a result, I get error messages like this:

My current solution is to rep

[2017-08-15 20:05] djkeh commented on #152
@danielfernandez

I'm afraid I can't explain the detailed MockMvc mechanism... but I think I can explain its basic concept and the reference.

* MockMvc: Main entry point for server-side Spring MVC test support. The main purpose of using this object is to **test web application without starting the actual server.** According to the reference, the codes are called _exactly the same way_ as if it wa

[2017-08-15 22:35] danielfernandez commented on #152
I'm a bit confused by your `spring.thymeleaf.decoupled-logic` configuration property…

As far as I know, this is not supported by Spring Boot (nor `1.5.6.RELEASE` nor `2.0.0.BUILD-SNAPSHOT`). Is this something you are adding manually somehow to the default allowed properties (`ThymeleafProperties` class) in Spring Boot? If so, this could very well the reason for your differences, as `@WebMvcTest`

[2017-08-16 02:48] djkeh commented on #152
@danielfernandez

Oh... That's correct. I've been using customized configuration property to use decoupled logic feature in Spring Boot `1.5.6` because Thymeleaf 3 and its proper auto-configuration are not yet included in the framework. I forgot to explain this. Here's the full gist code for using my customized configuration property.

https://gist.github.com/djkeh/dce08aa2b66b52bd56cdc1105eb168c1

[2017-08-16 21:39] danielfernandez commented on #152
Actually, I've confirmed that the `ThymeleafProperties` class for the current Spring Boot `2.0.0.BUILD-SNAPSHOT` does not contain any properties for enabling decoupled logic, so if this is something you'd like to see in Spring Boot 2, I would suggest adding an enhancement ticket there.

So I believe we can close this ticket now, right?

[2017-08-17 22:03] danielfernandez commented on #153
Having an entire new attribute processor for this seems a bit overkill to me, at least at first thought, given the existence of the `#fields` expression object, with methods `allErrors()`, `errors()` or `globalErrors()` which will allow you to obtain the list of the specific type of errors you need and easily iterate it and output each of the individual errors in the way you need (for instance, us

[2017-08-18 03:59] jmitash commented on #153
While it would work, it is less than ideal for my situation. I'll try to avoid the specifics of what I'm working with, but everything revolves around an e-commerce framework. The framework is built to be highly extensible and modifiable. The site we are building on top of the framework is designed to serve as a demonstration of the framework's capabilities (and therefore must also be easily extens

[2017-08-18 07:08] djkeh commented on #152
@danielfernandez Yes. Even if the new properties are not currently included in the `2.0.0.BUILD-SNAPSHOT`, I think they're aware of it. I'll create an enhancement ticket though.

I believe the workaround **no.3** I mentioned in the comment before might be the best solution for now in Spring version 1, if there's a way how to achieve it. So after this issue is closed, I'm still expecting someone wh

[2017-08-18 07:16] #152 closed

[2017-08-18 14:55] danielfernandez commented on #153
Yes, I know Broadleaf of course. You guys do an awesome job.

I understand what you say, and I've investigated a bit and seen that Spring's own JSP "errors" tag does actually have an `htmlEscape` attribute which allows the error messages to be output unescaped. So it's true that `th:uerrors` would fit as a match for that functionality.

I'm still a bit worried about a thing, and it is the possibil

[2017-08-18 22:29] jmitash commented on #153
Thanks, it goes without saying we greatly appreciate your team's work too. I tried to avoid mentioning the company here because I wasn't sure the Contribution guide applied here on GitHub as well.

I hadn't considered code injection a problem to be honest. Especially because as you discussed, we don't use the value in any of the messages, so it didn't really raise any concerns for me specifically.

[2017-08-28 10:03] hantsy opened #154 "setCheckExistence of SpringResourceTemplateResolver does not work in thymeleaf-spring5 3.0.7"
Currently I am trying to use Spring Boot 2.0.0.M3, and used thymeleaf and freemarker in the same project.

I added ` resolver.setCheckExistence(false);` explicitly in the `thymeleafTemplateResolver` bean.

[code]

It seems it does not work.

When I access path http://localhost:8080/freemarker, it should skip it and hand the template resolver to freemarker engine. But it throws exceptions.

[code]

[2017-08-28 10:07] danielfernandez commented on #154
That should be `setCheckExistence(true)` to enable the check (which is disabled by default). If it does not check the existence of the template, it will consider it *resolvable* by default.

[2017-08-28 10:15] hantsy commented on #154
Changed to `setCheckExistence(true)`, still encounter exceptions:

[code]
The web config class,

[code]

[2017-08-28 10:31] danielfernandez commented on #154
Oh, sorry for my misunderstanding. The aim of the `setCheckExistence(boolean)` flag is to determine whether a **thymeleaf template resolver** should consider a template resolvable or not, passing control to the next template resolver (the next *thymeleaf template resolver*) if the template is not considered resolvable (in this case, by checking it does not exist). But this happens during Thymeleaf

[2017-08-28 10:39] hantsy commented on #154
OK, understand the purpose of setCheckExistence in  thymeleafTemplateResolver.

So I have to set `viewNames` to differentiate the various template engines, and why I can not separate them by the template file suffix?

I guest the correct process is,
1. Check `/freemarker` in  path `/templates/freemarker.thml`, if it is not found, skip to render it, and pass the work in next view resolvers.
2. Chec

[2017-08-28 10:53] danielfernandez commented on #154
The `viewNames` property in Spring's `ViewResolver` instances applies on the view name returned by your controller. It is not until a specific template engine is being executed that a prefix + suffix is applied, so you need to make your view names themselves able to be differentiated.

[2017-08-28 15:16] #154 closed

[2017-08-29 00:46] hantsy commented on #154
@danielfernandez I checked `FreemarkerView`, there is also a checkExistence method, but if catch `FileNotFoundException`,  it return a false there, never throw the exception.  In my impression the viewResovlers list should be ordered and executed as `chain`.

[2017-08-29 16:54] joshiste opened #155 "Support reactive data types for spring mvc"
Will there be also support for using Flux or Mono in the model with servlet based Spring 5 applications?

[2017-08-29 22:18] danielfernandez commented on #155
What type of support would you be expecting for these, at the Spring MVC side?

At first thought, including a dependency on Reactor at the Spring MVC side could be an issue, but anyway I would be interested in knowing what kind of scenario would we be talking about... note the servlet web framework is *blocking* itself so… would you get a real advantage from using reactive data streams there?

[2017-08-30 05:22] joshiste commented on #155
I don't think so. For using the reactive `WebClient` inside a servlet application you have to even include Spring Webflux. Imho that's a valid use case.

most simple: I think it would be just convenient if we could pass a Flux into the model and Thymleaf can iterate on them using `th:each`.  (Currently you need to call `toIterable()` on the Flux in the controller beforehand). The rendering itself

[2017-09-05 16:13] #153 closed

[2017-09-05 21:31] danielfernandez commented on #153
This has been implemented and is already in `3.0.8-SNAPSHOT`

[2017-09-06 01:31] jmitash commented on #153
Much appreciated, thanks for the help Daniel.

[2017-09-17 12:22] gregturn opened #156 "Thymeleaf-Spring5 unusable with WebFlux and Boot 2.0.0.M4"
Thymeleaf-Spring5 3.0.8-SNAPSHOT is broken due to Spring Framework 5.0.0.RC4 moving encodeUrl out of ServerHttpResponse

[2017-09-17 12:23] gregturn commented on #156
See https://github.com/spring-projects/spring-boot/issues/10319 for stack traces.

[2017-09-17 12:41] danielfernandez commented on #156
This should be already fixed in `3.0.8-SNAPSHOT`. Does this snapshot work for you?

[2017-09-17 12:45] gregturn commented on #156
Recent commit?

[2017-09-17 12:50] danielfernandez commented on #156
Yesterday

[2017-09-17 13:28] gregturn commented on #156
Thanks!

[2017-09-17 13:43] gregturn commented on #156
Already patched in https://github.com/thymeleaf/thymeleaf-spring/commit/1ed59e8c06349bee73bc3d676c526d8d26e7fa10

[2017-09-17 13:43] #156 closed

[2017-09-28 19:52] danielfernandez opened #157 "Update thymeleaf-spring5 to use Spring 5.0.0"
Spring Framework 5.0.0 has just been published, and therefore `thymeleaf-spring5` can now compile and build against this new GA version.

This means the upcoming thymeleaf-spring5 version 3.0.8 will be `3.0.8.RELEASE` and not milestone or RC.

[2017-09-28 20:02] #157 closed

[2017-09-28 20:05] danielfernandez commented on #157
Already in `3.0.8-SNAPSHOT`

[2017-09-29 10:46] suhasbhatta opened #158 "Thymeleaf not rendering the text from message.properties file"
I am using ngDialog which shows the dialog. I used to pass a value from javascript to generate a dialog. It was pure english before and working fine without any error. But when i tried to use the th:text it is not rendering the value from properties file.

` this.showMsg = function (title,msg) {
        var dialog = ngDialog.open({
            template: '<div class="toast">\
            <div class

[2017-09-30 00:49] danielfernandez opened #159 "Improve application of max response chunk size and explicit flushing to WebFlux processing"
Until now, when a value for the `maxResponseChunkSizeBytes` property was specified at the `ThymeleafReactiveViewResolver` for Thymeleaf + Spring 5 WebFlux, it was applied this way:

   * If *not* specified, all resolved templates would be executed in `FULL` mode (unthrottled, full result in memory, sent to output channels as a single `DataBuffer`). When a *data-driver* context variable was present

[2017-09-30 23:10] danielfernandez opened #160 "Add a basic SpringWebFluxContext context implementation for calling the reactive engine from outside views"
In order to be able to call the reactive engine `ISpringWebFluxTemplateEngine` from outside a `ThymeleafReactiveView`, we would need an implementation of `ISpringWebFluxContext` that does not require the specification of any internal parameters. For example, the currently existing `SpringWebFluxExpressionContext` requires the `IEngineConfiguration` (and provides capabilities for computing *express

[2017-10-01 00:45] #159 closed

[2017-10-01 00:45] #160 closed

[2017-10-01 00:54] danielfernandez commented on #160
Already in `3.0.8-SNAPSHOT`

[2017-10-01 00:54] danielfernandez commented on #159
Already in `3.0.8-SNAPSHOT`

[2017-10-01 16:29] danielfernandez opened #161 "Allow the names and IDs of SSE event streams to be prefixed (for composition)"
Right now, when Thymeleaf generates a stream of SSE events, these events have the names:

   * `head`: for all markup that appears in the template *before* the iteration of the data-driver variable.
   * `message`: for each of the messages containing an iteration on the data-driver (actually an execution of the template engine for a *buffer* of elements produced by the data-driver).
   * `tail`: f

[2017-10-01 16:38] #161 closed

[2017-10-01 16:40] danielfernandez commented on #161
Already in `3.0.8-SNAPSHOT`

[2017-10-02 00:07] danielfernandez opened #162 "Allow registering the WebFlux Data-Driver variable implicitly (without wrapper at the controller)"
Currently, in order to register a *Data-Driver* variable and so put Thymeleaf into `DATA-DRIVEN` working mode when used from Spring WebFlux, at the controller a wrapper of class `ReactiveDataDriverContextVariable` has to be explicitly created and added to the model:

[code]

For many cases, binding the controller to any type of Thymeleaf APIs could be avoided if we could specify the same *data-dri

[2017-10-02 21:22] danielfernandez commented on #140
This has been finally removed in order to avoid the problems explained above, which could lead to unexpected behaviour.

[2017-10-02 21:22] #140 closed

[2017-10-02 21:29] danielfernandez commented on #158
Same as thymeleaf/thymeleaf#644

[2017-10-02 21:29] #158 closed

[2017-10-02 21:35] danielfernandez commented on #140
Already in `3.0.8-SNAPSHOT`

[2017-10-02 22:24] danielfernandez opened #163 "Change the default buffer size for DATA-DRIVEN execution"
When executing Spring WebFlux templates in `DATA-DRIVEN` mode, Thymeleaf applies a *buffer* to the *data-driven variable*, so that it (the template engine) does not execute for each value produced by the data-driver, instead buffering values up to a configured size, and then executing for the entire buffer. This reduces the total amount of times that the template engine executes, which normally im

[2017-10-02 22:24] danielfernandez commented on #163
Already in `3.0.8-SNAPSHOT`

[2017-10-02 22:24] #163 closed

[2017-10-02 22:42] danielfernandez commented on #162
Finally decided _**against**_ this after careful evaluation.

The problem with this approach is that controller code would still be depending on Thymeleaf APIs. Not specifically on a Thymeleaf *class*, but on a Thymeleaf *naming convention*.

And whereas the specific use of `ReactiveDataDriverContextVariable` makes a clear statement at the code about what is exactly happening, the use of a variabl

[2017-10-02 22:42] #162 closed

[2017-10-06 10:04] nikhil-sahu opened #164 "Multiple template resolvers not working correctly"
While configuring a template engine with multiple template resolvers, the below configuration does not works

    @Bean
    public SpringTemplateEngine templateEngine() {
        SpringTemplateEngine templateEngine = new SpringTemplateEngine();
        templateEngine.addTemplateResolver(webTemplateResolver());
        templateEngine.addTemplateResolver(classLoaderTemplateResolver());
        retur

[2017-10-06 10:07] danielfernandez commented on #164
Could you please also share the definition of your template resolvers, and specify your version of Thymeleaf?

[2017-10-06 10:22] nikhil-sahu commented on #164
public ITemplateResolver classLoaderTemplateResolver() {
        ClassLoaderTemplateResolver templateResolver = new ClassLoaderTemplateResolver();
        templateResolver.setPrefix("/templates/");
        templateResolver.setCacheable(false);
        templateResolver.setSuffix(".html");
        templateResolver.setTemplateMode(StandardTemplateModeHandlers.LEGACYHTML5.getTemplateModeName());

[2017-10-06 12:05] nikhil-sahu commented on #164
ok. once I added the resolvable patterns to the view resolvers, either of above config is working alright. There might have been another reason (still eludes me) as to why that was not working previously(without adding resolvable patterns) but this doesn't seem to be the issue. Closing.

[2017-10-06 12:06] #164 closed

[2017-11-03 19:20] rwinch opened #166 "ThymeleafReactiveView does not create RequestContext with RequestDataValueProcessor"
# Problem
Thymeleaf does not use the configured `RequestDataValueProcessor` within the `ApplicationContext`

# Reproducing the issue

If the following configuration is provided:

[code]

then `ThymeleafReactiveView` should create a `RequestContext` with the `RequestDataValueProcessor` with [AbstractView.createRequestContext](https://github.com/spring-projects/spring-framework/blob/v5.0.1.RELEASE/s

[2017-11-04 22:32] danielfernandez commented on #166
Confirmed, thanks @rwinch.

Apparently the `ApplicationContext` passed to the WebFlux equivalent for `RequestContext` is only used as a `MessageSource`, and not to retrieve the `RequestDataValueProcessor`. This does indeed make this object a bit different to initialise compared with the MVC side.

So yes, calling `createRequestContext()` should be the good option here.

[2017-11-04 22:56] #166 closed

[2017-11-04 23:01] danielfernandez commented on #166
Already in `3.0.9-SNAPSHOT`

[2017-11-30 13:09] hamishlawson opened #167 "Transparently handle Java 8's Optional"
It would make template code much cleaner if Thymeleaf's Spring dialect handled Java 8 Optionals transparently rather than obliging explicit calls to the likes of isPresent(), get() and orElse(). _vbezhenar_ in the thread below suggested a possible implementation, but didn't know how to get the converter added:

http://forum.thymeleaf.org/java-util-Optional-td4028258.html#a4028665

[2017-12-01 09:22] sis-yoshiday opened #168 "ConversionService invoked for element marked th:remove due to th:field having higher precedence"
### Controller
[code]
### HTML
[code]

### Stacktrace
[code]

### reproduced version

JDK 1.8.0_151

| spring-mvc/thymeleaf | 3.0.8 | 3.0.9 |
| --- | --- | --- |
| 4.3.12 | OK | OK |
| 4.3.13 | NG | NG |

### Minimum project for reproduction

https://github.com/sis-yoshiday/issue-thymeleaf-springmvc4.3.13

I think this problem is caused by changing `org.springframework.web.servlet.tags.form.Select

[2017-12-20 11:02] olivergierke opened #169 "BindingResult never makes it into the template so that errors cannot be displayed"
I have a Spring Data form binding interface like this:

[code]

and a Spring MVC controller method using that interface to bind the form as well as an `Errors` instance to collect binding errors:

[code]

While the `Errors` object that gets handed into the controller carries the errors, in the form below, they're inaccessible, i.e. `#fields.hasErrors('*')` returns false, error CSS classes are not

[2018-01-09 11:52] danielfernandez commented on #169
As you noticed, the issue here is because the standard behaviour in Spring MVC is to name the model attribute representing the bound form starting from the name of of the class, not the name of the argument in the controller method, so if you had something like:

[code]
...at that `model.asMap()` there you would be able to see two attributes already:

   * `guestbookForm` of type `GuestbookForm`

[2018-01-09 11:57] odrotbohm commented on #169
Indeed, this doesn't seem to be a Thymeleaf issue at all. After discussion with the Spring MVC team I got to tweak Spring Data's projection binding to allow the usage of `@ModelAttribute` against [this ticket](https://jira.spring.io/browse/DATACMNS-1237) fixed with [this commit](https://github.com/spring-projects/spring-data-commons/commit/96d85677030688d61a1a3056fede8a58341754d1).

Feel free to c

[2018-01-09 12:00] #169 closed

[2018-01-11 20:26] sanaulla123 commented on #132
@danielfernandez  What are the web context objects like `#request` in reactive Thymeleaf implementation? I tried to use but turned out to be null pointer exception.
Actually, I am trying to get the logged in user information in Thymeleaf template. Do you have any option for this?

[2018-02-01 16:40] qinkaiyuan opened #170 "java.lang.StackOverflowError: null thymeleaf.util.JavaScriptUtils.printObject(JavaScriptUtils.java:369)"
springboot version :1.5.9.RELEASE

My English is very poor, sorry, so I used Google translation.
//我英语很差,抱歉,所以我用了谷歌翻译

I use the spring data jpa, my two entities exist mutual references, so the following error, how can I solve?
//我使用了spring data jpa,我的两个 entity 存在互相引用的情况,所以出现了下方的错误,请问我该如何解决?
Why did I use @ JsonIgnore did not work it?
//为什么我使用了 @JsonIgnore 却没有起作用呢

@Entity
@JsonIgnoreProperties({"

[2018-02-06 12:02] McNetic opened #171 "Formatting of numbers with th:field"
This is something between an enhancement proposal and a bug report:

Currently, th:field will not apply formatting to input type "number". This obviously results in the default toString() method being used, which uses an exponential notatation for slighlty bigger numbers (for example, 999999999.0 will be formatted as 9.99999999E8). While this is technically not wrong, as html number inputs allow f

[2018-02-07 03:07] Volcannozzz opened #172 "templateEngine.process（...）has no return value."
i want to process a html for emaill. but my code was blocked in <code>templateEngine.process(...)</code>.
here is my config:

	public void testTemplate()
	{
		try
		{
			Context context = new Context();
			context.setVariable("name", "vayne");
			System.out.println("begin.");
			String string = templateEngine.process("com/vayne/config/test.html", context);
			System.out.println("this is： " + strin

[2018-02-13 09:26] odrotbohm commented on #167
I'd love to see this get priority as Java 8 seems to be pretty standard these days. Not sure that's a Spring module specific thing though.

[2018-02-13 09:29] hamishlawson commented on #167
It would be good if it could also transparently handle Vavr's Option.

[2018-02-13 21:05] dzafe1 opened #173 "HTML array of names"
How to actually accomplish this in Thymeleaf
 `<input type='text' name='foo[]' />`
I am asking this because I want to add Spring Validation on particular field.

[2018-02-21 21:49] danielfernandez commented on #173
Is `foo` an attribute in your form backing bean, of type array (e.g. `String[]`)?

If so, you can simply use `th:field` on that field (like `th:field="*{foo}"`) inside a form with a `<form th:object="${myform}" ...>`. However, note that if that property is an array, and thus multivalued, the adequate type of input would be a `<select ... multiple>` instead of an `<input type="text">`.

If on the c

[2018-02-21 21:50] #173 closed

[2018-02-21 21:52] danielfernandez commented on #167
Thymeleaf 3.1 will be Java 8-based, so for the moment I'm queueing this for that version.

[2018-02-21 21:57] danielfernandez commented on #167
Moved this ticket to the core repository (copied, GH does not allow moving), as it actually belongs there given support should be more general than just the SpringStandard Dialect: thymeleaf/thymeleaf#672

Closing this one to avoid duplicity.

[2018-02-21 21:57] #167 closed

[2018-02-21 22:01] danielfernandez commented on #172
There are many possible reasons for this: Maybe you are getting an `Error` (not an `Exception`) that you are not caching (try changing that `catch (Exception e)` to `catch (Throwable t)`), or maybe there is some kind of infinite loop in your template...

Without knowing more about your template and your application, there is no possible answer to be given, sorry.

[2018-02-21 22:14] danielfernandez commented on #171
The reason `<input type="number">` (and also `range`) are not applied formatting is in order to make the values being output (in the `value` attribute of the tag) compatible with the rendering expected by browsers for those types of input (some browsers display a selector with arrows for this type of input).

The fact is, browsers should correctly understand values such as `value="9.99999999E8"` (

[2018-02-25 08:01] daggerok opened #174 "SAXParseException on valid HTML"
Hello,

I'm trying dynamically load polyfill only if it's really needed and I'm using next html to achieve it

[code]

my spring-boot app is failing with next stacktrace:

[code]

problem could be solved by removing escaping backslash, just like so:

[code]

but in this case my IDE is showing me red errors according to thymeleaf xsd schema...

Does anybody knows some workaround for that? Maybe I c

[2018-02-25 08:29] daggerok commented on #174
Meanwhile I solve problem by moving script content out from html in separate optional-scripts.js file:

[code]
and pointing on it from my thymeleaf index.html template:
[code]

Please, let me know if there is a better wey..

[2018-02-25 15:33] danielfernandez commented on #174
The *better* way is to update to Thymeleaf 3.0 :). Thymeleaf 3 uses a real HTML parser underneath, and will not complain about the presence of that piece of HTML markup inside a JavaScript literal.

The *not so better, but yet feasible* way is, still using Thymeleaf 2.1, to set your JavaScript code as the content of a `CDATA` section, like:

[code]

[2018-02-25 15:33] #174 closed

[2018-02-25 16:27] daggerok commented on #174
Thanks for response, @danielfernandez

Not sure if I can update thymeleaf, it comes with `org.springframework.boot:spring-boot-starter-thymeleaf:1.5.10.RELEASE` dependency via io.spring.dependency-management plugin

Thanks for pointing me to CDATA, it's working well.

---
Regards,
Maksim

[2018-02-25 16:28] danielfernandez commented on #174
Using Spring Boot 1.x, you can upgrade to Thymeleaf 3.0 following these instructions: https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-use-thymeleaf-3

[2018-03-06 19:58] jchafik opened #175 "Cannot call #fields.detailedErrors() from a Spring Webflow form"
Thymeleaf 3.0.9.RELEASE
Thymeleaf Security 3.0.2.RELEASE
Thymeleaf Layout 2.2.2

Spring 4.3.13.RELEASE
Spring Webflow 2.4.5.RELEASE

Calling `#fields.detailedErrors()` from a Spring Webflow form results in an `BindingModel$FieldPrefixErrorMessage` exception.

The issue is that Webflow has its own getFieldErrors method that does not accept a wildcard without the field prefix (`org.springframework.w

[2018-03-08 08:42] Jarvis2704 commented on #10
Can you explain what do you mean by 'form bean's name'?

[2018-03-10 15:11] arne-vandamme opened #176 "FieldUtils bean path validation is too restricted"
The `FieldUtils#validateBeanPath(CharSequence)` method is too restricted.
It will not accept `propertyMap[my.entryKey]` as a valid bean path, even though it is perfectly valid for Spring.

Workaround is to do a `getBindStatus()` with `optional=false` as that skips the validation and the resulting exception can be caught in outer code.

Sidenote: looks also like `validateBeanPath()` never validates

[2018-03-18 04:34] somasekharnekkalapudi commented on #141
Not able to access the "salute" attribute in index.html. Any examples?

<div> th:text="${salute}"</div>

[2018-03-19 17:54] franktopel opened #178 "th:field should render hidden field before checkbox to not break common checkbox replacements"
Almost all custom checkbox replacement solutions, be it in Bootstrap, Foundation or Materialize CSS, depend upon the following HTML structure:

`<input type="checkbox" id="my_id" />`
`<label for="my_id">Checkbox label</label>`

This is due to the limitations of CSS where usually the visual checkbox replacement is implemented like this:

[code]
(`+` meaning `adjacent sibling` or `subsequent direct

[2018-04-02 15:46] alamhubb commented on #170
我使用spring boot jpa 将两个对象互相引用，在html中[[$ {xxx}]]获取对象，就会出现这个问题

[2018-04-02 15:55] alamhubb commented on #170
我现在的解决办法就是使用jackson解析对象，而不是直接使用[[$ {xxx}]]在html中获取对象，请问这个问题在哪个版本里解决了，还是还未解决？

[2018-04-03 09:49] alamhubb commented on #170
这是thymeleaf 2的bug ，升级到thymeleaf 3可以解决此bug；

thymeleaf2的时候是自己处理的json；
thymeleaf3使用的jackson，jackson可以通过使用@JsonIgnoreProperties和@JsonIgnore注解解决 两个类互相引用的问题

[2018-04-03 09:49] #170 closed

[2018-04-03 21:00] dquessenberry commented on #178
I am also facing this exact problem and there doesn't appear to be a clean workaround without hacking my standardized CSS to support this specific use case. If anyone knows how to configure Thymeleaf to insert the hidden input BEFORE the checkbox input, please us know!

BTW, this appears to be the offending code: https://github.com/thymeleaf/thymeleaf-spring/blob/3.0-master/thymeleaf-spring5/src/m

[2018-04-04 22:23] danielfernandez commented on #168
This seems to be a precedence issue. All subclasses of `AbstractSpringFieldTagProcessor` (`th:field`) --including the tag processor that operates on all `<option>` tags in order to pass their `value` values through Spring's `RequestDataValueProcessor` and apply the `selected` attribute if necessary-- have a precedence of 1200, which makes them execute before `th:remove` which has a precedence of 1

[2018-04-04 22:24] danielfernandez commented on #172
Closing due to reporter inaction.

[2018-04-04 22:24] #172 closed

[2018-04-04 23:10] danielfernandez commented on #168
Modifying the precedence of `th:remove` would have huge ramifications (esp `th:{attribute}` -> `th:assert` -> `th:remove`), so it seems the most sensible option here would be to move `th:field` to a precedence of 1700, given `th:field` only has precedence dependencies `th:errorclass`, and indirectly with `th:errors` and `th:uerrors`. All these three attributes should have their precedences moved u

[2018-04-05 22:39] danielfernandez opened #179 "Add JPMS automatic module names"
Adding `Automatic-Module-Name` entries to the `MANIFEST.MF` files of each thymeleaf-spring module will allow us to _reserve_ the module name for future use. See http://blog.joda.org/2017/05/java-se-9-jpms-automatic-modules.html

Completely modularising the library could mean an issue for some scenarios as of today, as the jar file would contain at least one file (`module-info.class`) with Java 9 b

[2018-04-05 22:41] #179 closed

[2018-04-05 22:42] danielfernandez commented on #179
Already in `3.0.10-SNAPSHOT`

[2018-04-05 22:58] danielfernandez commented on #168
The following modifications will be adopted for all thymeleaf-spring modules:
   * Precedence of `AbstractSpringFieldTagProcessor` (`th:field`) will be modified from `1200` to `1700` so that it is executed after `th:remove` (which has `1600`).
   * Precedence of `SpringErrorsTagProcessor` and `SpringUErrorsTagProcessor` (`th:errors` and `th:uerrors`) will be modified from `1200` to `1700` in order

[2018-04-05 23:02] #168 closed

[2018-04-05 23:04] danielfernandez commented on #168
Already in `3.0.10-SNAPSHOT`

[2018-04-06 22:06] danielfernandez commented on #171
Closing as _declined_ for the moment. Please reopen in case there are any new details you would want to provide.

[2018-04-06 22:06] #171 closed

[2018-04-06 22:46] jchafik commented on #175
Confirmed. The error actually presented itself when updating the library, and went away again when I downgraded. Again, the issue is specific to spring webflow.

[2018-04-08 22:29] danielfernandez commented on #176
Thanks. I have one question regarding this: could you detail a bit more the scenario in which you end up calling `getBindStatus()` with `optional=true` that provokes this issue? Is this due to the evaluation of a `{{...}}` converted expression from the `SpelVariableEvaluator`?

The tests for this type of binding are in `thymeleaf-tests`, in `/src/test/resources/templateengine/springintegration/[fo

[2018-04-09 07:55] arne-vandamme commented on #176
No actually I ran into this issue when creating a custom processor for generating a form-bound control. You can specify a bound property but we specifically do not want to fail if the property is not bound, that's why we used `optional=true`. So it was when I manually call `FieldUtils.getBindStatus()` in my processor.

[2018-04-09 22:46] #176 closed

[2018-04-09 22:47] danielfernandez commented on #176
Already in `3.0.10-SNAPSHOT`

[2018-04-13 05:53] airclear opened #180 "[BUG?][Thymeleaf-spring4]There is a NullPointException in the Concurrent scene"
**ENV**

OS: OSX
JAVA: 1.8.0_144
Eclipse:  Oxygen.1a Release (4.7.1a)
Container: Eclipse Jetty 3.9.0
Thymeleaf: 3.0.9.RELEASE
Thymeleaf-spring4: 3.0.9.RELEASE

**DEMO**

demo: demo.tgz

run: Use `Eclipse Jetty 3.9.0`

**Test command:**

[code]

**Exception**

[code]

**resolve it in an ugly way**

modify template `blocks.html` ，change the var name from `box` to `box111`

[code]

[code]

**what's t

[2018-04-13 05:58] airclear commented on #180
@danielfernandez

[2018-04-13 09:10] RiZKiT commented on #113
Another frontend aggregation/transclusion solution ([Tailor](https://github.com/zalando/tailor)) uses the term "[primary fragment](https://github.com/zalando/tailor#fragment-attributes)", the HTTP status code of that fragment defines the status code of the whole page.

Related issues which are maybe interesting: https://github.com/zalando/tailor/issues?utf8=%E2%9C%93&q=is%3Aissue+primary

[2018-04-17 22:52] danielfernandez commented on #180
I'm sorry but I'm unable to verify your issue. Your demo application is hugely complex, with dozens of apparently unneeded dependencies, some of them included from repositories that I don't necessarily trust. Also, it does not compile because the `DebugController` class contains a `String` constant larger than allowed by the Java compiler (maybe the eclipse plugin does compile it, but `javac` does

[2018-04-19 11:22] airclear commented on #180
@danielfernandez
sorry for waste your time,
I tried to build spring-boot application , but I can't   recur the  exception when I use spring-boot,
so I cut my project to a small size , and keep it can recur the exception...  and that is the `demo.zip`

anyway, I will rebuild the demo application . see you .

[2018-04-25 21:34] danielfernandez commented on #178
A new `boolean renderHiddenMarkersBeforeCheckboxes` configuration property has been added to `SpringStandardDialect`, and can be also configured directly from `SpringTemplateEngine`. So now you can do:

[code]

or:

[code]

[2018-04-25 21:36] danielfernandez commented on #178
Already in `3.0.10-SNAPSHOT`

[2018-04-25 21:36] #178 closed

[2018-04-30 18:04] virmundi opened #181 "Resolver not finding messages in nested template directories."
Version: 3.0.9-Release
Environment: Spring Boot
Extension: thymeleaf-layout-dialect:2.3.0

I wish to use nested fragments. Under templates, I have fragments/header.html. Inside header.html I have
[code]
Parallel to header.html, I have header_en.properties. I've tried fragments.header.recipes, header.recipes. I can't get the resolver to follow the path.

[2018-05-03 19:15] daggerok opened #182 "Thymeleaf Webflux CSRF and custom login.html page like for MVC taglib"
Hello,

I'm using webflux + thymeleaf + spring security 5 with CSRF enabled. When I'm trying create a custom login.html page, I'm adding CSRF configs in hidden input form field [as  documentation saying](https://docs.spring.io/spring-security/site/docs/current/guides/html5/form-javaconfig.html)

[code]

but thymeleaf rendering is failing due to cannot find _csrf.parameterName and _csrf.token I'm p

[2018-05-04 07:01] daggerok commented on #182
Hello again

Found that CSRF integration doest work with functional WebFlux routes. So after I switched to Controller annotated approach everything is working as expected.

---
Regards,

[2018-05-04 07:01] #182 closed

[2018-05-15 12:20] kirmerzlikin opened #183 "Why is the addition of custom message resolvers restricted? (when using SpringTemplateEngine)"
Hi,

My version of *thymeleaf* and *thymeleaf-spring4* is *3.0.9.RELEASE*.

I had a need to extend default `SpringTemplateEngine` by adding custom `IMessageResolver` that would retrieve messages from database. During experimenting and investigation I found out that `SpringTemplateEngine` in its `initializeSpecific` method clears all specified message resolvers and replaces them with either `Standa

[2018-05-17 20:02] danielfernandez commented on #181
I understand you are using Spring Boot. If using Spring Boot, the standard Spring mechanism for message resolution is applied instead of Thymeleaf's default one. Spring's mechanism is based on `MessageSource` objects pre-declared by Boot's autoconfiguration. By default, this will look for all messages in a `Messages.properties` bundle in `/src/main/resources`.

[2018-05-29 08:56] squalou opened #184 "display Unescaped Text with th:placeholder or th:title etc."
Hi,

I have an issue similar to this one : https://stackoverflow.com/questions/32501163/unescaped-text-with-thplaceholder/32515802#32515802

Using thymeleaf 3.0.9, I have a template that includes this

`th:placeholder="${form.country}"`

When the value for country is `Pa&#237;` ... in the end the produced html is `&amp;#237;` which is not what anyone would expect.

I understand that for regular 't

[2018-05-30 09:58] mpv945 opened #185 "AddFormatters method is invalid"
public class ThymeleafConfig extends WebMvcConfigurationSupport {

    @Override
    public void addFormatters(final FormatterRegistry registry) {
        //registry.addFormatter(varietyFormatter());

        registry.addFormatter(dateFormatter());
        registry.addConverter(new CustomDateConverter());
        super.addFormatters(registry);

    }

dependency (spring-webmvc 5.0.4.RELEASE)
Why c

[2018-06-08 08:33] zhubenle opened #186 "org.springframework.expression.spel.SpelEvaluationException: EL1007E: Property or field 'username' cannot be found on null"
`<form th:object="${user}" method="post">
            <input type="email"  th:name="user.username" th:value="*{username}" />
            <input type="password" th:name="user.password" th:value="*{password}">
    </form>
`

Hi, I have a problem. when user is null, *{username} will Cause the above problem.How can this error be suppressed?

thank you

[2018-06-13 15:10] singkingcho opened #187 "使用最新版本的springboot和thymeleaf为何无法解析国际化信息？"
展示的内容都是??_zh_CN??，导致真是内容无法展示。

[2018-06-13 15:11] singkingcho commented on #187
形如#{login.tips}，无法解析成功。

[2018-06-13 15:52] danielfernandez commented on #187
I'm sorry, could you provide an explanation of your issue in English?

[2018-06-15 02:54] singkingcho commented on #187
For example, I want to use the following syntax in login.html:

#{msg.tips}. in the same directory with login.html, I added login.properties and login_zh_CN.propeties files and wrote msg.tips=hello
msg.tips=China   in it.

But the result obtained through #{msg.tips} analysis is  ?? msg.tips_zh_CN??
Why is this?

,

[2018-06-15 07:34] danielfernandez commented on #187
I assume (due to the fact that you are filing this in the `thymeleaf-spring` repository) that you are using Spring along with Thymeleaf. In such case, externalized messages would not be searched in `login.properties` for a `login.html` file, but instead Spring's own integrated `MessageSource`-based mechanism would be used. You'd normally have at least one `MessageSource` implementation declared (o

[2018-06-15 07:34] #187 closed

[2018-07-25 09:41] danielfernandez commented on #186
When `user` is null, you cannot avoid that exception because `*{username}` is trying to call `getUsername()` on that object.

If you need to make this expressio null-safe, and assuming you are using Spring (and therefore your expression language is SpringEL), you can do something like `th:value="${user?.username}"`, which is the null-safe version of the expression above in SpringEL

[2018-07-25 09:41] #186 closed

[2018-07-25 09:53] danielfernandez commented on #184
Thymeleaf performs HTML-escaping of all HTML attributes being output through any of its attribute processors (`th:*`), like `th:placeholder`.

Escaping HTML for safe rendering is a responsibility of the view layer (the template engine), so Thymeleaf does not expect that the data itself in model is already escaped, being `th:utext` a special case used for performing unescaped rendering in the body

[2018-07-25 09:53] #184 closed

[2018-07-27 22:58] danielfernandez commented on #183
The idea is that `SpringTemplateEngine` integrates to the most possible degree with Spring mechanisms. And Spring has its own mechanism for the resolution of messages, the `MessageSource` interface. So it made no sense to keep Thymeleaf's own at the same time.

The normal way to extend message resolution in a Spring-enabled Thymeleaf application is therefore to implement a new `MessageSource` and

[2018-07-27 22:58] #183 closed

[2018-07-27 23:24] danielfernandez commented on #185
This is a Spring MVC (or Spring Boot if you use it) configuration issue, not really a Thymeleaf one.

If you use Spring MVC directly (no Boot), instead of `WebMvcConfigurationSupport` you should probably be extending `WebMvcConfigurerAdapter` in a `@Configuration` class also with the `@EnableWebMvc` annotation.

If you are using Spring Boot, simply registering your formatters as beans in the conte

[2018-07-27 23:24] #185 closed

[2018-07-28 09:13] kirmerzlikin commented on #183
@danielfernandez thanks for explanation

[2018-08-15 17:30] AndRossi opened #190 "Problem with Thymeleaf Markup HTMLTemplateParser"
Hello Thymeleaf team,

Thanks for your great work. I am studying how to write a webapp using Spring Boot + Thymeleaf, but I am experiencing a weird issue.

This is my environment:
- MacOS High Sierra 10.13.6 (the latest version)
- Java 1.8 (JDK 1.8.0_181)
- Maven 3.5.4
- Spring Boot 2.0.4 (imported with Maven)
- Thymeleaf 3.0.9 (imported with Maven)
- Embedded Tomcat

As a total newbie to both Spr

[2018-08-16 11:57] AndRossi commented on #190
Ok, I think I have solved the issue.
It most probably depended on the way that that Eclipse and Maven had downloaded and handled file attoparser/2.0.4.RELEASE/attoparser-2.0.4.RELEASE.jar.
The file was probably corrupted; after deleting it, the system works just fine.

It clearly did not depend on Thymeleaf, so I'm sorry for having bothered you.

Have a nice day!

Andrea

[2018-08-16 11:57] #190 closed

[2018-09-04 19:13] WHK102 opened #192 "Design Flaw on fragments/layouts"
Formerly in thymeleaf 2 it was possible to use a base layout for all the fragments but in thymeleaf 3 it is only possible to make inclusions, but where is the problem?

The problem is that it is no longer possible to create designs of a single file, forcing a separation between the different contents, for example, it is no longer possible to have two fragments in a single layot ​​using a single te

[2018-09-04 19:52] jmiguelsamper commented on #192
There are many ways to set up hierarchical templates, see https://www.thymeleaf.org/doc/articles/layouts.html for a detailed discussion and examples

[2018-09-05 04:25] cassimirojackson commented on #128
I had a similar issue and I solved using some parts of renderFragment method from ThymeleafView:

[code]
This  way, when  my context has a  instance of ThymeleafEvaluationContext all my formatters works fine.

If anyone is still interested in this issue I can provide more information.

[2018-10-07 21:18] danielfernandez commented on #192
I'll just add that Thymeleaf never had a hierarchical layout fragment system as such (though in Thymeleaf 3 it can be simulated, in fact). In order to do so in Thymeleaf 2 you had to use the LayoutDialect (which is a separate project, and has a version for thymeleaf 3) or something totally different such as Apache Tiles.

[2018-10-07 21:18] #192 closed

[2018-10-07 21:38] danielfernandez opened #193 "Support non-blocking resolution of reactive variables before View rendering"
Spring WebFlux performs a scan for reactive variables (`Flux<?>`, `Mono<?>`…) in the model during `View` rendering, but _before_ actually asking the `View` to render.

This is done in `org.springframework.web.reactive.result.view.AbstractView#render(…)` just before calling for real rendering of the view (`#renderInternal(…)`).

So if our dialects could specify their need to inject some specific re

[2018-10-07 21:38] #193 closed

[2018-10-07 21:39] danielfernandez commented on #193
Already in `3.0.10-SNAPSHOT`

[2018-10-07 21:47] danielfernandez opened #194 "Avoid blocking in the resolution of the WebSession in WebFlux applications"
In Spring WebFlux, `ServerWebExchange` returns the session by means of:
[code]
This meant Thymeleaf had no way to resolve the web session in a non-blocking fashion during template execution until the mechanism explained in #193 was implemented.

Now we could use the **execution attributes** mechanism in order to signal the `Mono<WebSession>` to be asynchronously (and non-blockingly) resolved by Sp

[2018-10-07 22:31] danielfernandez commented on #194
Already in `3.0.10-SNAPSHOT`

[2018-10-08 10:24] odrotbohm commented on #113
@danielfernandez – Do you think what you suggested is a candidate for actual implementation. If the suggested changes were in place, `ThymeleafViewResolver` could expose a simple switch to resort to the old behavior of in-memory rendering and in turn be exposed via e.g. a Spring Boot application property.

[2018-10-08 11:00] odrotbohm commented on #113
Oh, and it would be cool if the error scenario could be documented in the [migration guide](https://www.thymeleaf.org/doc/articles/thymeleaf3migration.html) as it's a problem, that doesn't actually exist on Thymeleaf 2. Possible workarounds should be documented here as well. Besides the tweak to the server side, one other thing that came to mind was to equip the error page with some JavaScript tha

[2018-10-08 11:16] dsyer commented on #113
Another option is to increase the buffer size in the `ServletResponse`. It's not brilliant, but it works if you know an upper bound on the size of your responses.

[2018-10-08 12:34] danielfernandez commented on #113
Additionally, this could be adjusted in application code by creating a `Filter` that wraps the `HttpServletResponse` and buffers all output until the reponse `PrintWriter` is closed. Using a filter could even allow the application of this mechanism per-URL. This could be enough for specific applications having this issue, as I hope this shouldn't be a common scenario.

To be honest, I'm still stru

[2018-10-08 12:41] odrotbohm commented on #113
I am not even arguing which one is better and am fine with Thymeleaf defaulting to streaming and having a strong opinion that this is the better approach. All I'm arguing is, that there should be an easy way to get back to the "old mode" of exception handling (i.e. exceptions trigger a forward to the error page under all circumstances) as that allows users to decouple both problems: if they were f

[2018-10-08 12:52] danielfernandez commented on #113
Okay, I see your point. I have to admit from the standpoint of migrations it makes a bit more sense to me.

[2018-10-09 21:20] #113 closed

[2018-10-09 21:36] danielfernandez commented on #113
This has been implemented by means of a flag called `producePartialOutputWhileProcessing`, with default value `true`, that can be configured with its corresponding setter and getter method both at the `ThymeleafViewResolver` (for an application-wide setting) and at `ThymeleafView` objects (for template-specific setting).

When set to `false`, Thymeleaf will buffer the entire produced output until

[2018-10-09 21:40] danielfernandez commented on #113
Already in `3.0.10-SNAPSHOT`

[2018-10-10 07:46] danielfernandez commented on #148
Note that via #113 a new `producePartialOutputWhileProcessing` has been developed that allows app developers to go back to the old process-then-render behaviour in 2.x. Not _exactly_ the same though, because Thymeleaf 2.x resolved the DOM tree before rendering and sending to the output buffers, and Thymeleaf 3.0 will (if configured) actually render the entire HTML into memory (no DOM in v3!) befor

[2018-10-10 07:46] #148 closed

[2018-10-19 03:29] panga commented on #179
@danielfernandez The module names set are not supported.
Please change the "-" with "." character.

See the error:
[code]

[2018-10-19 03:33] panga opened #195 "Fix Automatic-Module-Name"
https://github.com/thymeleaf/thymeleaf-spring/issues/179 broke the JPMS compatibility adding invalid characters in the Automatic-Module-Name.

Please change the "-" with "." character.

Error:

[code]

[2018-10-19 12:41] panga commented on #195
cc @danielfernandez

[2018-10-21 22:36] danielfernandez commented on #195
You're right, thanks. Will probably need to apply some kind of (Groovy?) script during build in order to perform that transformation.

[2018-10-22 00:11] danielfernandez commented on #195
Already in `3.0.11-SNAPSHOT`

[2018-10-22 07:46] danielfernandez commented on #195
Already in `3.0.11-SNAPSHOT`

[2018-10-22 10:08] bclozel opened #196 "Non-blocking resolution of variables assumes mutable model"
The following commit (3601af0b2) assumes that the `Map` model provided by Spring Framework is mutable (it is not). This has been raised and is currently discussed in [SPR-17407](https://jira.spring.io/browse/SPR-17407).

[2018-10-22 12:10] yiss opened #197 "AbstractView is receiving an immutable model Map"
Spring Boot version: 2.0.6.RELEASE

Using Thymeleaf to render a view throws a java.lang.UnsupportedOperationException: null

Here is the stack trace :
[Log](https://textuploader.com/dnplp)

[2018-10-22 12:19] danielfernandez commented on #196
Definitely a bug, Thymeleaf should make no assumptions about that map being mutable.

However, this has not shown up in any of our tests. Am I right in thinking an immutable map would only be passed by the _functional_ webflux framework?

[2018-10-22 12:22] bclozel commented on #196
Yes, AFAIK this is only enforced in WebFlux, and we're not likely to change that on the MVC side right now.

[2018-10-22 12:22] danielfernandez commented on #197
Thanks a lot. Actually this was reported just minutes before at #196 too, so I'm going to close this one in order to avoid duplicity.

[2018-10-22 12:22] #197 closed

[2018-10-22 12:22] danielfernandez commented on #196
No, I mean in the functional side only. We have tests with WebFlux (non-functional) and they work alright...